<section section-id="{{ sectionId }}" data-lg-scroll-offset="130" data-md-scroll-offset="130" data-sm-scroll-offset="94" class="home-categories-section section-padding-space">
	<div class="container all">
		<h1 class="section-title theme-text-primary">{{ settings.title }}</h1>
		<div class="cats-container">
			{% for categoryItem in settings.categories %}
				<div class="">
					<div class="category-item">
						<a href="/categories/{{ categoryItem.category.id }}/{{ categoryItem.category.slug }}">
							<img {% if categoryItem.category.image %} src="{{ imageUrl(categoryItem.category.image_full_size, { w: 400, q: 85, f:'auto' }) }}" {% else %} src="{{ imageUrl(asset_url ~ 'product-img.svg',{ w: 235, q: 85, f:'auto' }) }}" {% endif %} loading="lazy" alt="{{ categoryItem.category.name }}">
							<h3>{{ categoryItem.category.name }}</h3>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if settings.display_more %}
			<div class="text-center mt-5 category-display-more-section">
				<a href="/categories" class="more-button btn btn-outline-primary theme-text-primary theme-border-primary">{{ settings.more_text }}</a>
			</div>
		{% endif %}
	</div>
</section>


<style>
  section[section-id="{{ sectionId }}"] .all {
    width: fit-content;
  }

  section[section-id="{{ sectionId }}"] .cats-container {
    display: flex;
    gap: 30px;
  }

  section[section-id="{{ sectionId }}"] .section-title {
    margin-bottom: 30px
  }
</style>


{% schema %}
{
  "name": {
    "ar": "التصنيفات",
    "en": "Slider"
  },
  "icon": "fal fa-cabinet-filing",
  "display": true,
  "settings": {
    "title": {
      "type": "text",
      "label": {
        "ar": "العنوان",
        "en": "text"
      }
    },
    "categories": {
      "type": "list",
      "noLabel": true,
      "settings_label": {
        "ar": "التصنيف",
        "en": "Picture"
      },
      "settings": {
        "category": {
          "type": "category",
          "label": {
            "ar": "اختر التصنيف",
            "en": "Select category"
          }
        }
      }
    },
    "display_more": {
      "type": "checkbox",
      "label": {
        "ar": "",
        "en": ""
      },
      "noLabel": true,
      "option": {
        "ar": "عرض زر جميع التصنيفات",
        "en": "Display button more products"
      }
    },
    "more_text": {
      "type": "text",
      "label": {
        "ar": "نص زر جميع التصنيفات",
        "en": "More text"
      }
    }
  }
}
{% endschema %}
