<div section-id="{{ sectionId }}" data-lg-scroll-offset="130" data-md-scroll-offset="130" data-sm-scroll-offset="94" class="home-categories-section section-padding-space">
	<div class="container slider-container">
		<h1 class="section-title theme-text-primary">{{ settings.title }}</h1>
		<div class="d-flex flex-column">
			<div class="categories-slider-wrapper" style="position: relative">
				<div class="categories-slider s-slider">
					<div class="swiper-container mySwiper">
						<div class="swiper-wrapper">
							{% for categoryItem in settings.categories %}
								<div class="swiper-slide cat-col">
									<div class="category-item">
										<a href="/categories/{{ categoryItem.category.id }}/{{ categoryItem.category.slug }}">
											<img {% if categoryItem.category.image %} src="{{ imageUrl(categoryItem.category.image_full_size, { w: 400, q: 85, f:'auto' }) }}" {% else %} src="{{ imageUrl(asset_url ~ 'product-img.svg',{ w: 235, q: 85, f:'auto' }) }}" {% endif %} loading="lazy" alt="{{ categoryItem.category.name }}">
											<h3>{{ categoryItem.category.name }}</h3>
										</a>
									</div>
								</div>
							{% endfor %}
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Navigation -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</div>
		</div>
		{% if settings.display_more %}
			<div class="text-center mt-5 category-display-more-section">
				<a href="/categories" class="more-button btn btn-outline-primary theme-text-primary theme-border-primary">{{ settings.more_text }}</a>
			</div>
		{% endif %}
	</div>
</div>
<script>
	document.addEventListener('DOMContentLoaded', function () {
const swiper = new Swiper('.mySwiper', {
slidesPerView: 4,
spaceBetween: 10,
centeredSlides: true,
loop: true,
pagination: {
el: '.swiper-pagination',
clickable: true
},
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev'
}
});
});
</script>
{% schema %}
{
  "name": {
    "ar": "التصنيفات",
    "en": "Slider"
  },
  "icon": "fal fa-cabinet-filing",
  "display": true,
  "settings": {
    "title": {
      "type": "text",
      "label": {
        "ar": "العنوان",
        "en": "text"
      }
    },
    "categories": {
      "type": "list",
      "noLabel": true,
      "settings_label": {
        "ar": "التصنيف",
        "en": "Picture"
      },
      "settings": {
        "category": {
          "type": "category",
          "label": {
            "ar": "اختر التصنيف",
            "en": "Select category"
          }
        }
      }
    },
    "display_more": {
      "type": "checkbox",
      "label": {
        "ar": "",
        "en": ""
      },
      "noLabel": true,
      "option": {
        "ar": "عرض زر جميع التصنيفات",
        "en": "Display button more products"
      }
    },
    "more_text": {
      "type": "text",
      "label": {
        "ar": "نص زر جميع التصنيفات",
        "en": "More text"
      }
    }
  }
}
{% endschema %}
