<section id="g_cat_{{sectionId}}" class="g_cat" dir="ltr">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="mb-4" style="margin-bottom: 55px;">
            {% include 'title.twig' with { 'component_title': settings.section_title } %}
        </div>
    
        <div class="row {{ settings.categorys|length > 3 ? 'row-cols-md-4' : '' }} {{ settings.categorys|length == 5 ? 'row-cols-lg-5' : '' }} {{ settings.categorys|length > 5 ? 'row-cols-lg-6' : '' }} g-3 align-items-center justify-content-center">
            {% for item in settings.categorys %}
                <div class="d-flex flex-column align-items-center products-item"   style="max-width: 150px; {{ loop|length > 3  ? 'max-width: 200px;' : '' }}">
                    <div class="overflow-hidden rounded image-parent">
                        <a href="{{item.cat_url}}">
                            <img loading="lazy" class="img-fluid" src="{{item.category_image}}" alt="img-1">
                        </a>
                    </div>
                    <a href="{{item.cat_url}}">
                        <h3 class="mt-3 text-center font-weight-medium text-dark" style="font-size: 1.25rem;">{{item.category_name}}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>



{% schema %}

{
    "name": {
        "ar": "تصنيفات - جلامور",
        "en": "glamour - categorey"
    },
    "icon": "fal fa-user",
    "display": true,
    "settings": {
        "section_title": {
            "type": "text",
            "label": {
                "ar": "عنوان السكشن ؟",
                "en": "عنوان السكشن ؟"
            }
        },
        "categorys": {
            "type": "list",
            "label": {
                "ar": "الاقسام",
                "en": "الاقسام"
            },
            "settings": {
                "category_image": {
                    "type": "image",
                    "label": {
                        "ar": "صوره التصنيف",
                        "en": "category image"
                    }

                },
                "category_name": {
                    "type": "text",
                    "label": {
                        "ar": "اسم التصنيف",
                        "en": "category name"
                    }
                },
                "cat_url": {
                    "type": "url",
                    "label": {
                        "ar": "الرابط",
                        "en": "link"
                    }
                }
            }
        }
    }
}

{% endschema %}
