<head>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    {# styling #}
    <style>
        .swiper-button-next,
        .swiper-button-prev{
            top: -66px !important;
        }
        .swiper-button-next:hover,
        .swiper-button-prev:hover{
            border: 1px solid #E7ADB3 !important;
        }
        .swiper-button-next{
            left: 70px !important;
        }
        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after {
            font-size:19px !important;
            color: #C0C0C0;
        }
        .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
            font-size: 19px !important;
            color: #C0C0C0;
        }
        .swiper-button-next:focus::after,
        .swiper-button-prev:focus::after {
            color: #CE5A67 !important;
        }
        @media(max-width:762px){
            .content_btns{
                left: 10%;
            }
        }
        @media(max-width:425px){
            .content_btns{
                left: 5%;
            }
        }
    </style>
</head>
<body> 
    <section id="g_cat_{{ sectionId }}" class="g_cat" style="background-color: #fff; padding:70px 0px;" dir="ltr">
            <div  style="padding-bottom: 50px; margin-bottom: 50px;">
                {% include 'title.twig' with { 'component_title': settings.section_title } %}
            </div>
            <div class="container overflow-x-hidden q-category">
                <!-- أزرار التنقل -->
                <div class="content_btns absolute {% if settings.slider_toggle == "false" %} d-none {% endif %}" style="margin-top:20px;">
                    <div class="swiper-button-prev transition" style="background-color:#fff; border:1px solid #C0C0C0; border-radius:4px; padding: 20.49px 21px;">
                    &lt;
                    </div>
                    <div class="swiper-button-next transition" style="background-color:#fff; border:1px solid #C0C0C0; border-radius:4px; padding: 20.49px 21px;">
                    &gt;
                    </div>
                </div>
                <div class=" {% if settings.slider_toggle == "true" %}swiper-container category-slider slider bg-white{% endif %} h-auto">
                    <div class=" {% if settings.slider_toggle == "true" %} swiper-wrapper h-auto {% else %} grid grid-cols-2 !place-items-center  gap-4 md:flex md:flex-wrap md:gap-6 md:justify-center {% endif %}">
                        {% for item in settings.categorys %}
                            <div class="{% if settings.slider_toggle == "true" %} swiper-slide  category flex flex-col items-center products-item {% endif %}" 
                                 style="max-width: 150px; {{ loop.length > 3  ? 'max-width: 200px;' : '' }} display:flex; flex-direction: column; align-items: center;">
                                <div class="overflow-hidden rounded image-parent " >
                                    <a href="{{ item.cat_url }}">
                                        <img loading="lazy" class="img-fluid" src="{{ item.category_image }}" alt="img-1">
                                    </a>
                                </div>
                                <a href="{{ item.cat_url }}">
                                    <h3 class="mt-3 text-center font-medium text-dark text-xl">
                                        {{ item.category_name }}
                                    </h3>
                                </a>    
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
    </section>
    
    <style>
    .q-category::-webkit-scrollbar {
  display: none;
}


.q-category {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

    </style>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var swiperElement = document.querySelector('.swiper-container.slider');

    if (swiperElement) {
      var swiper = new Swiper('.swiper-container.category-slider', {
        slidesPerView: 2,
        spaceBetween: 10,
        loop:true,
        breakpoints: {
            480: {
                slidesPerView: 3,
                spaceBetween: 25
            },
            762: {
              slidesPerView: 4,
              spaceBetween: 25
            },
            991: {
              slidesPerView: 8,
              spaceBetween: 25
            },
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
    
    }
});
</script>
</body>

{% schema %}
{
    "name": {
        "ar": "تصنيفات - جلامور",
        "en": "glamour - categorey"
    },
    "icon": "fal fa-user",
    "display": true,
    "settings": {
        "section_title": {
            "type": "text",
            "label": {
                "ar": "عنوان السكشن ؟",
                "en": "Section Title"
            }
        },
        "slider_toggle": {
            "type": "select",
            "label": {
                "ar": "عرض التصنيفات في صورة سلايدر",
                "en": "Display categories as slider"
            },
            "options": [
                {
                    "value": "true",
                    "label": {
                        "ar": "نعم",
                        "en": "Yes"
                    }
                },
                {
                    "value": "false",
                    "label": {
                        "ar": "لا",
                        "en": "No"
                    }
                }
            ],
            "default": "false",
            "info": {
                "ar": "اختر نعم لعرض الأقسام كـ Slider",
                "en": "Choose Yes to display categories as a slider"
            }
        },
        "categorys": {
            "type": "list",
            "label": {
                "ar": "الاقسام",
                "en": "Categories"
            },
            "settings": {
                "category_image": {
                    "type": "image",
                    "label": {
                        "ar": "صوره التصنيف",
                        "en": "Category Image"
                    }
                },
                "category_name": {
                    "type": "text",
                    "label": {
                        "ar": "اسم التصنيف",
                        "en": "Category Name"
                    }
                },
                "cat_url": {
                    "type": "url",
                    "label": {
                        "ar": "الرابط",
                        "en": "Link"
                    }
                }
            }
        }
    }
}
{% endschema %}
