<head>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
    <section id="g_cat_{{ sectionId }}" class="g_cat bg-white" dir="ltr">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <div class="mb-4" style="margin-bottom: 55px;">
                {% include 'title.twig' with { 'component_title': settings.section_title } %}
            </div>
    
            <div class="swiper-container relative  {% if settings.slider_toggle == 'true' %} slider bg-white {% else %} grid grid-cols-4 gap-3 {% endif %}">
                <div class="swiper-wrapper">
                    {% for item in settings.categorys %}
                        <div class="swiper-slide category d-flex flex-column align-items-center products-item" 
                             style="max-width: 150px; {{ loop.length > 3  ? 'max-width: 200px;' : '' }}">
                            <div class="overflow-hidden rounded image-parent">
                                <a href="{{ item.cat_url }}">
                                    <img loading="lazy" class="img-fluid" src="{{ item.category_image }}" alt="img-1">
                                </a>
                            </div>
                            <a href="{{ item.cat_url }}">
                                <h3 class="mt-3 text-center font-weight-medium text-dark" style="font-size: 1.25rem;">
                                    {{ item.category_name }}
                                </h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                 <!-- أزرار التنقل -->
            <div class="swiper-buttons-container absolute top-0 left-10 flex items-center justify-center ">
                <div class="swiper-button-next bg-gray-300 text-gray-600 rounded-lg p-3 border border-gray-400 hover:bg-pink-500 hover:text-white transition-all duration-300">
                </div>
                <div class="swiper-button-prev bg-gray-300 text-gray-600 rounded-lg p-3 border border-gray-400 hover:bg-pink-500 hover:text-white transition-all duration-300">
                </div>
        
            </div>
            </div>
        </div>
    </section>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var swiperElement = document.querySelector('.swiper-container.slider');

    if (swiperElement) {
        var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        spaceBetween: 10,
        freeMode: true,
        loop: false,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        });
    
    }
});
</script>
</body>

{% schema %}
{
    "name": {
        "ar": "تصنيفات - جلامور",
        "en": "glamour - categorey"
    },
    "icon": "fal fa-user",
    "display": true,
    "settings": {
        "section_title": {
            "type": "text",
            "label": {
                "ar": "عنوان السكشن ؟",
                "en": "Section Title"
            }
        },
        "slider_toggle": {
            "type": "select",
            "label": {
                "ar": "عرض التصنيفات في صورة سلايدر",
                "en": "Display categories as slider"
            },
            "options": [
                {
                    "value": "true",
                    "label": {
                        "ar": "نعم",
                        "en": "Yes"
                    }
                },
                {
                    "value": "false",
                    "label": {
                        "ar": "لا",
                        "en": "No"
                    }
                }
            ],
            "default": "false",
            "info": {
                "ar": "اختر نعم لعرض الأقسام كـ Slider",
                "en": "Choose Yes to display categories as a slider"
            }
        },
        "categorys": {
            "type": "list",
            "label": {
                "ar": "الاقسام",
                "en": "Categories"
            },
            "settings": {
                "category_image": {
                    "type": "image",
                    "label": {
                        "ar": "صوره التصنيف",
                        "en": "Category Image"
                    }
                },
                "category_name": {
                    "type": "text",
                    "label": {
                        "ar": "اسم التصنيف",
                        "en": "Category Name"
                    }
                },
                "cat_url": {
                    "type": "url",
                    "label": {
                        "ar": "الرابط",
                        "en": "Link"
                    }
                }
            }
        }
    }
}
{% endschema %}