<section class="slide-review container w-full section_c_r" section-id="{{ sectionId }}">
  {# start section #}
  <div class="container container_review">
   <div class="image-title" style="margin: 80px 0px 160px;" >
    <h1> {{settings.title}} </h1>
   </div> 
   <div class="swiper-container">
      <!-- أزرار التنقل -->
       <div class="content_btns absolute">
         <div class="swiper-button-prev transition" style="background-color:#fff; border:1px solid #C0C0C0; border-radius:4px; padding: 20.49px 21px;">
         &gt;
         </div>
         <div class="swiper-button-next transition" style="background-color:#fff; border:1px solid #C0C0C0; border-radius:4px; padding: 20.49px 21px;">
         &lt;
         </div>
       </div>
			<div class="swiper-wrapper">
				{% for item in settings.customer_reviews %}
					<div class="swiper-slide relative rounded-lg content_tistimonial">
						<div class="absolute top-0 overflow-hidden imag_raduse">
							<img loading="lazy" src="{{item.customer_image}}" alt="{{item.customer_name}}">
						</div>
						<div class="cover_content">
							<div class="desc_contant">
								{{item.customer_review}}
							</div>
							<div class="rating_name">
								<h2 class="name">{{item.customer_name}}</h2>
								<div class="stars_rating" style="--rating: {{item.customer_rate}};" aria-label="Rating of this product is 2.3 out of 5."></div>
								<h2 class="job">
									{{item.customer_job}}
								</h2>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
      <div class="balls"></div>
		</div>
	</div>
</section>
<style>
  /* paganition bulltes */
  .balls{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .balls span.swiper-pagination-bullet{
    width: 16px !important;
    height: 16px !important;
    background: none !important;
    border: 1px solid #C4C4C4 !important;
  }
  .balls span.swiper-pagination-bullet-active{
    background-color: #CE5A67 !important;
    border-color: #FFCBCB !important;
    box-shadow:inset 0px 0px 0px 2px #fff;
  }
  /* btns arrows in sweaper */
        .swiper-button-next,
        .swiper-button-prev{
            top: -100px !important;
        }
        .swiper-button-next:hover,
        .swiper-button-prev:hover{
            border: 1px solid #E7ADB3 !important;
        }
        .swiper-button-next{
            right:-85px !important; 
        }
        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after {
            font-size:19px !important;
            color: #C0C0C0;
        }
        .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
            font-size: 19px !important;
            color: #C0C0C0;
        }
        .swiper-button-next:focus::after,
        .swiper-button-prev:focus::after {
            color: #CE5A67 !important;
        }
        .swiper-button-lock {        
            display: flex !important;
        }
        @media(max-width:991px){
            .content_btns{
              margin: 25px !important;
            }
        }
        @media(max-width:762px){
            .content_btns{
              margin: 30px !important;
            }
        }
        @media(max-width:425px){
            .content_btns{
              margin-top: 25px !important;
            }
        }
        /*  */
        .section_c_r {
        	min-height: 470px;
          }
  .slide-review .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slide-review .swiper-button-next,
  .slide-review .swiper-button-prev {
  	color: var(--primary-color) !important;
    position: absolute;
    top: 50%;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
  }
  
  .slide-review .swiper-button-next::after,
  .slide-review .swiper-button-prev::after {
  	font-size: 24px !important;
  }
  
  .container_review .content_btns{
    margin-top:-15px !important;
}
.container_review .content_btns  div{
    padding: 20.49px 21px 19px !important;
    font-size: 20px;
    font-family: 'FontAwesome';
}



  .slide-review .swiper-button-next {
    left: -22px !important;
  }
  .slide-review .swiper-button-prev {
    right: -22px !important;
  }
	.container_review {
		gap: 24px;
	}
	.stars_rating {
		--percent: calc(var(--rating) / 5 * 100%);
		display: inline-block;
		font-size: 30px;
		line-height: 1;
	}
	.stars_rating::before {
		content: "★★★★★";
		letter-spacing: 3px;
		background: linear-gradient(90deg, #fc0 var(--percent), #c5c5c5 var(--percent));
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
  .container_review   .content_btns{
        left: 3px;
    }
  @media (max-width:768px) {

  
    .container_review  .content_btns div{
        padding: 10px 20px 9px !important;
        font-size: 15px;
    }
}
</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
  var swiper = new Swiper('.slide-review .swiper-container', {
    loop: true,
    slidesPerView: 1,
    spaceBetween: 5,
    navigation: {
      nextEl: '.swiper-button-prev',
      prevEl: '.swiper-button-next',
    },
    pagination: {
      el: '.balls',
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 24,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
    }
  });
});

</script>



{% schema %}
{
    "name": {
        "ar": "اراء العملاء - جلامور",
        "en": "customer review - glamour"
    },
    "icon": "fal fa-user",
    "display": "true",
    "settings": {
      "title" :{
          "type":"text",
          "label":{
              "ar":" العنوان",
              "en":"title"
          }
      }, 
      "customer_reviews": {
          "type": "list",
          "label": {
              "ar": "الخلفيات",
              "en": "banners"
          },
          "settings": {
              "customer_image": {
                  "type": "image",
                  "label": {
                      "ar": "صوره العميل",
                      "en": "customer image"
                  }
              },
              "customer_job": {
                  "type": "text",
                  "label": {
                      "ar": "اكتب وظيفه العميل",
                      "en": "customer job"
                  }
              },
              "customer_name": {
                  "type": "text",
                  "label": {
                      "ar": "اكتب اسم العميل",
                      "en": "customer name"
                  }
              },
              "customer_review": {
                  "type": "text",
                  "label": {
                      "ar": "اكتب تعليق العميل",
                      "en": "customer review"
                  }
              },
              "customer_rate": {
                  "type": "text",
                  "label": {
                      "ar": "اكتب عدد النجوم",
                      "en": "customer rate"
                  }
              }
          }
      }
    }
}
{% endschema %}