 <section  section-id="{{ sectionId }}" style="background-image: url('{{ settings.bannar_bg }}');" class="landing-page-fixed-bannar-{{sectionId}} g_fixed_bannar">
	<div style='text-align:{{ settings.text_place }};' class="container relative txt">
		<h1 class="animate__animated animate__fadeInUp custom-dlay-heading text-black max-w-full  md:w-full text-[35px] md:text-[48px] font-semibold md:font-bold leading-[50px] md:leading-[70px]">{{ settings.bannar_title }}</h1>
		<p class="animate__animated animate__fadeInUp custom-dlay-p hidden md:block text-black font-medium text-[20px] leading-[70px]">{{ settings.bannar_des }}</p>
		<a href='{{settings.bannar_url}}'>
			<button class="animate__animated animate__fadeInUp custom-dlay-a max-w-full w-[200px] mt-[32px] h-[56px] text-[16px] font-bold rounded-lg duration-300 hover:!opacity-80 bg-[var(--f-color)] text-white">تسوق الان</button>
		</a>
	</div>
</section>

<style>
    @media (max-width: 576px) {
      .landing-page-fixed-bannar-{{sectionId}} {
        background-image: url('{{ settings.bannar_bg_mobile }}') !important;
      }
    } 
  </style>

{% schema %}

{
            "name": {
                    "ar": "بنر ثابت",
                    "en": "Test"
            },
            "icon": "fal fa-user",
            "display": true,
            "settings": {
               "bannar_title":{
                    "type": "text",
                    "label": {
                        "ar": "العنوان",
                        "en": "text"
                            }
                },
                "bannar_des":{
                    "type": "text",
                    "label": {
                        "ar": "وصف للبنر",
                        "en": "text"
                    }
                },
                "bannar_bg":{
                        "type": "image",
                        "label": {
                        "ar": "خلفيه البنر",
                        "en": "text"
                        },
                        "info": {
                        "ar": "نص توضيحي",
                        "en": "info text"
                        }
                },
                "bannar_bg_mobile":{
                    "type": "image",
                    "label": {
                        "ar": "خلفيه البنر",
                        "en": "text"
                    },
                    "info": {
                        "ar": "نص توضيحي",
                        "en": "info text"
                    }
                },
                "bannar_url":{
                    "type": "text",
                    "label": {
                        "ar": "رابط البنر",
                        "en": "text"
                    }
                },
                "text_place":{
                    "type": "select",
                    "label": {
                        "ar": "موضع النص",
                        "en": "text"
                    },
                    "options": [
                        {
                            "value": "left",
                            "label": {
                            "ar": "اليسار",
                            "en": "all pages"
                            }
                        },
                        {
                            "value": "right",
                            "label": {
                            "ar": "اليمن",
                            "en": "all pages"
                            }
                        },
                        {
                            "value": "center",
                            "label": {
                            "ar": "المركز",
                            "en": "all pages"
                            }
                        }
                    ]
                }
            }
}

{% endschema %}
