<section section-id="{{ sectionId }}">

			<swiper-container pagination="true">
				{% for item in settings.slider %}
					<swiper-slide>
                        <div style="background-image: url('{{ item.slider_bannar_bg }}');" class="g_fixed_bannar  baner-{{loop.index}}">
                            <div style='text-align:{{ item.slider_text_place }};' class="container relative txt">
                                <h1 class="animate__animated animate__fadeInUp custom-dlay-heading text-black max-w-full  md:w-full text-[35px] md:text-[48px] font-semibold md:font-bold leading-[50px] md:leading-[70px]" 
                                    style="color: {{ item.address_color ? item.address_color : '#000000' }}">
                                    {{ item.slider_bannar_title }}
                                </h1>
                                <p class="animate__animated animate__fadeInUp custom-dlay-p hidden md:block text-black font-medium text-[20px] leading-[70px]" 
                                    style="color: {{ item.descr_color ? item.descr_color : '#666666' }}">
                                    {{ item.slider_bannar_des }}
                                </p>
                                <a href='{{item.slider_bannar_url}}'>
                                    <button class="animate__animated animate__fadeInUp custom-dlay-a max-w-full show-stars w-[200px] mt-[32px] h-[56px] text-[16px] font-bold rounded-lg duration-300 hover:!opacity-80 bg-[var(--f-color)] text-white">
                                        {{item.slider_bannar_btn_text}}
                                    </button>
                                </a>
                            </div>
                        </div>
                        
					</swiper-slide>
				{% endfor %}
			</swiper-container>
			<!-- Add Pagination -->

		</section>
        <style>
			@media(max-width: 768px) {
                {% for item in settings.slider %}
                 .baner-{{loop.index}} {
                    background-image: url('{{ item.slider_bannar_bg_mobile }}') !important;
                    background-size: cover;
                    background-position: center;
                }
                {% endfor %}
            }

			{# .swiper-container {
				width: 100vw;
				height: 100vh;
			} #}

			.baner_swiber.swiper-container {
				width: 100vw;
				height: 100vh;
			}


			.baner_swiber .swiper-pagination {
				bottom: 20px;
				display: flex;
				justify-content: center;
			}


			.baner_swiber .swiper-pagination-bullet {
				width: 15px;
				height: 15px;
				margin: 0 5px;
				border-radius: 10px;
				background: #d68d9c;
				opacity: 0.8;
				transition: all 0.3s ease;
			}
           .g_fixed_bannar a:hover .show-stars:before, 
           .g_fixed_bannar a:hover .show-stars:after {
               opacity: 1 !important; 
           }

			@media(max-width: 700px) {
				.baner_swiber.swiper-container {
					height: auto;
				}
			}


		</style>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        let swiperFixBaner = new Swiper('.baner_swiber', {
        slidesPerView: 1,
        pagination: {
        el: '.swiper-pagination',
        clickable: true
        },
        loop: true,
        autoplay: {
        delay: 5000,
        disableOnInteraction: false,
        },
        observer: true,
        observeParents: true,
    });

  // تغيير الخلفية بناءً على حجم الشاشة
        function updateBackgrounds() {
        const slides = document.querySelectorAll('.swiper-slide');
        const isMobile = window.innerWidth <= 576;

        slides.forEach(slide => {
        const backgroundUrl = isMobile ? '{{ settings.slider_bannar_bg_mobile }}' : '{{ settings.slider_bannar_bg }}';
        slide.style.backgroundImage = `url('${backgroundUrl}')`;
        slide.style.backgroundSize = 'cover';
        slide.style.backgroundPosition = 'center';
        });
    }

  // تحديث الخلفيات عند تحميل الصفحة وتغيير حجم الشاشة
  updateBackgrounds();
  window.addEventListener('resize', updateBackgrounds);
});

</script>


{% schema %}

{
    "name": {
        "ar": "بنر رئيسي",
        "en": "Main banner"
    },
    "icon": "fal fa-user",
    "display": true,
    "settings": {
        "slider":{
            "type": "list",
            "label": {
                "ar": "اضف الصور",
                "en": "ُenter Images"
            },
            "settings": {
                "slider_bannar_title":{
                    "type": "text",
                    "label": {
                        "ar": "العنوان",
                        "en": "title"
                    }
                },
                "address_color":{
                    "type":"color",
                    "label":{
                        "ar":"لون العنوان",
                        "en":"text color"
                    }
                },
                "slider_bannar_des":{
                    "type": "text",
                    "label": {
                        "ar": "وصف للبنر",
                        "en": "Banner Description"
                    }
                },
                "descr_color":{
                    "type":"color",
                    "label":{
                        "ar":"لون الوصف",
                        "en":"text color"
                    }
                },
                "slider_bannar_bg":{
                    "type": "image",
                    "label": {
                        "ar": "خلفيه البنر",
                        "en": "Banner background"
                    }
                },
                "slider_bannar_bg_mobile":{
                    "type": "image",
                    "label": {
                        "ar": " خلفيه البنر ف الموبايل",
                        "en": "Banner background on mobile"
                    }
                },
                "slider_bannar_url":{
                    "type": "url",
                    "label": {
                        "ar": "رابط البنر",
                        "en": "Banner link"
                    }
                },
                "slider_bannar_btn_text":{
                    "type": "text",
                    "label": {
                        "ar": "عنوان الزر",
                        "en": "button title"
                    }
                },
                "slider_text_place":{
                    "type": "select",
                    "label": {
                        "ar": "موضع النص",
                        "en": "text position"
                    },
                    "options": [
                        {
                            "value": "left",
                            "label": {
                            "ar": "اليسار",
                            "en": "left"
                            }
                        },
                        {
                            "value": "right",
                            "label": {
                            "ar": "اليمين",
                            "en": "right"
                            }
                        },
                        {
                            "value": "center",
                            "label": {
                            "ar": "المركز",
                            "en": "center"
                            }
                        }
                    ]
                }
            }
        }
    }
}

{% endschema %}
