<section section-id="{{ sectionId }}"  class="  ">
    <div class="swiper-container baner_swiber">
            <div class="swiper-wrapper">
                {% for item in settings.slider %}
                    <div class="swiper-slide" >
                        <div style="background-image: url('{{ item.slider_bannar_bg }}');" class="g_fixed_bannar" >
                            <div style='text-align:{{ item.slider_text_place }};' class="container relative txt">
                                <h1 class="animate__animated animate__fadeInUp custom-dlay-heading text-black max-w-full  md:w-full text-[35px] md:text-[48px] font-semibold md:font-bold leading-[50px] md:leading-[70px]">{{ item.slider_bannar_title }}</h1>
                                <p class="animate__animated animate__fadeInUp custom-dlay-p hidden md:block text-black font-medium text-[20px] leading-[70px]">{{ item.slider_bannar_des }}</p>
                                <a href='{{item.slider_bannar_url}}'>
                                    <button class="animate__animated animate__fadeInUp custom-dlay-a max-w-full w-[200px] mt-[32px] h-[56px] text-[16px] font-bold rounded-lg duration-300 hover:!opacity-80 bg-[var(--f-color)] text-white">{{item.slider_bannar_btn_text}}</button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
    </div>
</section>

<style>
    @media (max-width: 576px) {
        .landing-page-fixed-bannar-{{sectionId}} {
            background-image: url('{{ settings.bannar_bg_mobile }}') !important;
        }
    } 

    .swiper-container {
        width: 100vw;
        height: 100vh;
    }

    .baner_swiber .swiper-pagination-bullet {
        width: 20px;
        border-radius: 5px;
        background: #fff;
        opacity: 0.3;
    }
    .baner_swiber .swiper-pagination-bullet.swiper-pagination-bullet-active{
        background: var(--f-color);
        opacity: 1;
    }

</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let swiperFixBaner = new Swiper('.baner_swiber', {
            slidesPerView: 1,
        });
    });
</script>

{% schema %}

{
    "name": {
        "ar": "بنر ثابت",
        "en": "Test"
    },
    "icon": "fal fa-user",
    "display": true,
    "settings": {
        "slider":{
            "type": "list",
            "label": {
                "ar": "اضف الصور",
                "en": "ُenter Images"
            },
            "settings": {
                "slider_bannar_title":{
                    "type": "text",
                    "label": {
                        "ar": "العنوان",
                        "en": "text"
                    }
                },
                "slider_bannar_des":{
                    "type": "text",
                    "label": {
                        "ar": "وصف للبنر",
                        "en": "text"
                    }
                },
                "slider_bannar_bg":{
                    "type": "image",
                    "label": {
                        "ar": "خلفيه البنر",
                        "en": "text"
                    }
                },
                "slider_bannar_bg_mobile":{
                    "type": "image",
                    "label": {
                        "ar": "خلفيه البنر",
                        "en": "text"
                    }
                },
                "slider_bannar_url":{
                    "type": "url",
                    "label": {
                        "ar": "رابط البنر",
                        "en": "text"
                    }
                },
                "slider_bannar_btn_text":{
                    "type": "text",
                    "label": {
                        "ar": "عنوان الزر",
                        "en": "button title"
                    }
                },
                "slider_text_place":{
                    "type": "select",
                    "label": {
                        "ar": "موضع النص",
                        "en": "text"
                    },
                    "options": [
                        {
                            "value": "left",
                            "label": {
                            "ar": "اليسار",
                            "en": "all pages"
                            }
                        },
                        {
                            "value": "right",
                            "label": {
                            "ar": "اليمن",
                            "en": "all pages"
                            }
                        },
                        {
                            "value": "center",
                            "label": {
                            "ar": "المركز",
                            "en": "all pages"
                            }
                        }
                    ]
                }
            }
        }
    }
}

{% endschema %}
