<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<section id="slider_bannar_g" section-id="{{ sectionId }}" class="slider-bannars pt-96">
	<div class='slider-bannars_items'>
		<swiper-container class="mySwiper" pagination="true" pagination-dynamic-bullets="true">
			{% for item in settings.bannars %}
				<swiper-slide 
                    style="background-size: cover; background: url({{ settings.bannar_D_image }}); width: 100vw;" 
                    class="swiper-slide slider-bannars-moving">
					
                    <div class="photo_one">
						<img loading="lazy" width='100%' src='{{item.F_image}}' alt="img">
					</div>

					<div class="content text-center">
						<h2>{{ item.bannar_title }}</h2>
						<p>{{item.bannar_desc}}</p>
						<a href="{{item.bannar_url}}">
							<button>{{locals.shop_now}}</button>
						</a>
					</div>

					<div class="photo">
						<img loading="lazy" src='{{item.S_image}}' width='80%' alt="img">
					</div>
				</swiper-slide>
			{% endfor %}
		</swiper-container>

		<!-- Pagination -->
		<div class="swiper-pagination"></div>
	</div>
</section>

<style>
	swiper-container {
		width: 100%;
		height: auto;
	}

	swiper-slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 18px;
		background: #fff;
	}

	swiper-slide img {
		width: 100%;
		object-fit: cover;
	}

	.swiper-pagination-bullet {
		background-color: #FFC0CB;
	}

	.swiper-pagination-bullet-active {
		background-color: #A52A2A;
	}
</style>

<script>
// swiper
document.addEventListener('DOMContentLoaded', function () {
	const swiper = new Swiper('.slider-bannars_items .mySwiper', {
		direction: 'horizontal',
		loop: true,
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
			dynamicBullets: true
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev'
		},
		scrollbar: {
			el: '.swiper-scrollbar'
		}
	});
});
</script>
