<section id="g_square_image_{{sectionId}}" class="container ads">
	<div class="imgs">
		{% for item in settings.images %}
			{% if loop.index <= 3 %}
				<div class="img ">
					<img loading="lazy" src="{{item.square_image}}" alt="" srcset="">
					<div class="over">
						<div class="text">
							<p>
								{{item.square_title}}
							</p>
							<a href="{{item.square_url.url}}">
								<button type="button" class="duration-300 hover:opacity-95">
									{{locals.shop_now}}
								</button>
							</a>
						</div>
					</div>
				</div>
			{% elseif loop.index == 4 %}
				<div class="img f_img">
					<div class="card h-100">
						<img loading="lazy" src="{{item.square_image}}" alt="" class="card-img-top">
						<div class="over">
							<div class="p-2 bg-opacity-50 text">
								<p class="mb-2 text-white">
									{{ item.square_title}}
								</p>
								<a href="{{item.square_url.url}}">
									<button type="button" class="btn btn-light btn-block">
										{{locals.shop_now}}
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

</section>


<style>
	.ads .img .over:hover .text{
		opacity: 1;
	}

	.ads .img .over .text {
		opacity: 0;
		transition: .3s;
	}
</style>


{% schema %}
{
    "name": {
        "ar": "صور مربعه - جلامور",
        "en": "square image - gulamore"
    },
    "icon": "fal fa-user",
    "display": true,
    "settings": {
        "images": {
            "type": "list",
            "label": {
                "ar": "الصور",
                "en": "images"
            },
            "settings":{
                    "square_image": {
                        "type": "image",
                        "label": {
                            "ar": "اختر الصوره",
                            "en": "select image"
                        }
                    },
                    "square_title": {
                        "type": "text",
                        "label": {
                            "ar": "العنوان",
                            "en": "title"
                        }
                    },
                    "square_url": {
                        "type": "category",
                        "label": {
                            "ar": "الرابط",
                            "en": "link"
                        }
                    }
            }
            
        }
    }
}


{% endschema %}
