<section id="g_square_image_{{sectionId}}" class="container ads" style ="margin-bottom: 119px;" >
	<div class="imgs">
		{% for item in settings.images %}
				<div class="img G_square_img_card {{ loop.index == 4 ? 'f-img' }}">
				{% if loop.index == 4 %}
					<picture>
					  <source srcset="{{ item.square_image }} 2x" media="(min-width: 768px)">
					  <source srcset="{{ settings.last_image_mobile ? settings.last_image_mobile : item.square_image }} 1x" media="(max-width: 767px)">
					  <img loading="lazy" src="{{ item.square_image }}" alt="" class="img-fluid" />
					</picture>
					{% else %}
						
					<img loading="lazy" src="{{item.square_image}}" alt="card img">
				{% endif %}
				
					<div class="over">
						<div class="text {{loop.index == 4 ? 'd-flex justify-content-center align-items-center '}}">
							<p style="color:{{item.address_color}}"> {{item.square_title}} </p>
							{% if settings.button_title %}
								<a href="{{item.square_url.url}}">
									<button type="button" class="duration-300 "style="color:{{item.button_color}}">
										{{settings.button_title}}
									</button>
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			
		{% endfor %}
	</div>

</section>


<style>

	.ads .f_img img{
		width: 100%;
	}
	.ads .img .over:hover .text{
		opacity: 1;
	}

	.ads .img .over .text {
		opacity: 0;
		transition: .3s;
	}
	.imgs .img {
		overflow: hidden;
	}

.imgs .img img {
    transition: all 0.3s ease;
    transform-origin: 50px 20px;
}

.imgs .img:hover img {
    transform: scale(1.1);
}


.imgs .img:nth-child(4):hover img {
    transform: none; 
}


	@media (max-width: 767px) {
		.ads .img .over .text{
		opacity: 1;
	  }

	  .imgs .img:hover img {
    		transform: scale(1);
		}
	  
	}
	@media (min-width: 768px) {
	.ads .img img {
       opacity:1;
      }

	}
 

	.imgs .f-img{
		grid-column:span 3 / span 3 !important;
		max-height: 245px;
		@media (max-width:768px) {
				.text{
					align-items:start !important;
				}
	}
	}
	.abs .imgs{
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
	@media (max-width:768px) {
    	grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
		
	}
 }
	 .imgs .G_square_img_card{
		max-height:200px;
	@media (max-width:768px) {
		grid-column:span 3 / span 3 !important;
	}
	
 }
 .imgs .G_square_img_card img{
		object-fit:cover;

	}
</style>


{% schema %}
{
    "name": {
        "ar": "صور مربعه - جلامور",
        "en": "square image - gulamore"
    },
    "icon": "fal fa-user",
    "display": true,
    "settings": {
		"last_image_mobile":{
			"type":"image",
			"label": {
                "ar": "الصوره رقم 4 في الموبيل",
                "en": "Picture No. 4 is on the mobile phone"
            }
		},
		"button_title":{
            "type": "text",
            "label": {
                "ar": "عنوان للزر",
                "en": "button Title"
            }
        },
        "images": {
            "type": "list",
            "label": {
                "ar": "الصور",
                "en": "images"
            },
			"maxItems": 7,
            "settings":{
                    "square_image": {
                        "type": "image",
                        "label": {
                            "ar": "اختر الصوره",
                            "en": "select image"
                        }
                    },
                    "square_title": {
                        "type": "text",
                        "label": {
                            "ar": "العنوان",
                            "en": "title"
                        }
                    },
					"address_color":{
						"type":"color",
						"label":{
							"ar":"لون العنوان",
							"en":"text color"
						}
					},
					"button_color":{
						"type":"color",
						"label":{
							"ar":"لون نص الزر",
							"en":"text color"
						}
					},
                    "square_url": {
                        "type": "category",
                        "label": {
                            "ar": "الرابط",
                            "en": "link"
                        }
                    }
            }
            
        }
    }
}


{% endschema %}
