<section id="g_square_image_{{sectionId}}" class="container ads" style ="margin-bottom: 119px;" >
	<div class="imgs">
		{% for item in settings.images %}
			{% if loop.index <= 3 %}
				<div class="img ">
					<img loading="lazy" src="{{item.square_image}}" alt="" srcset="">
					<div class="over">
						<div class="text">
							<p>
								{{item.square_title}}
							</p>
							{% if settings.button_title %}
								<a href="{{item.square_url.url}}">
									<button type="button" class="duration-300 ">
										{{settings.button_title}}
									</button>
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% elseif loop.index == 4 %}
				<div class="img f_img">
					<div class="card h-100">
					<picture>
					  <source srcset="{{ item.square_image }} 2x" media="(min-width: 768px)">
					  <source srcset="{{ settings.last_image_mobile }} 1x" media="(max-width: 767px)">
					  <img loading="lazy" src="{{ item.square_image }}" alt="" class="img-fluid" />
					</picture>
						<div class="over">
							<div class="p-2 bg-opacity-50 text">
								<p class="mb-2 text-black">
									{{ item.square_title}}
								</p>
								{% if settings.button_title %}
									<a href="{{item.square_url.url}}">
										<button type="button" class="btn-light btn-block">
											{{settings.button_title}}
										</button>
									</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

</section>


<style>
 
	.ads .img .over:hover .text{
		opacity: 1;
	}

	.ads .img .over .text {
		opacity: 0;
		transition: .3s;
	}
	.imgs .img {
		overflow: hidden;
	}

.imgs .img img {
    transition: all 0.3s ease;
    transform-origin: 50px 20px;
}

.imgs .img:hover img {
    transform: scale(1.1);
}


.imgs .img:nth-child(4):hover img {
    transform: none; 
}


	@media (max-width: 767px) {
		.ads .img .over .text{
		opacity: 1;
	  }
	}
	@media (min-width: 768px) {
	.ads .img img {
       opacity:1;
      }
	}
</style>


{% schema %}
{
    "name": {
        "ar": "صور مربعه - جلامور",
        "en": "square image - gulamore"
    },
    "icon": "fal fa-user",
    "display": true,
    "settings": {
		"last_image_mobile":{
			"type":"image",
			"label": {
                "ar": "الصوره رقم 4 في الموبيل",
                "en": "Picture No. 4 is on the mobile phone"
            }
		},
		"button_title":{
            "type": "text",
            "label": {
                "ar": "عنوان للزر",
                "en": "button Title"
            }
        },
        "images": {
            "type": "list",
            "label": {
                "ar": "الصور",
                "en": "images"
            },
            "settings":{
                    "square_image": {
                        "type": "image",
                        "label": {
                            "ar": "اختر الصوره",
                            "en": "select image"
                        }
                    },
                    "square_title": {
                        "type": "text",
                        "label": {
                            "ar": "العنوان",
                            "en": "title"
                        }
                    },
                    "square_url": {
                        "type": "category",
                        "label": {
                            "ar": "الرابط",
                            "en": "link"
                        }
                    }
            }
            
        }
    }
}


{% endschema %}
