<section
    id="video-banner"
    section-id="{{ sectionId }}"
    class="relative md:h-[500px] mx-[10px] sm:mx-4 md:mx-0">
  <div class="video-parent h-full w-full rounded-lg sm:rounded-none">
    <img loading="lazy" id="bgImage" class="bg-image w-full" src="{{ settings.video_image }}" alt="Background Image">
    <video id="videoPlayer" src="{{ settings.video_url }}" playsinline loop muted controls></video>
    <div class="text-box contain flex gap-4 md:gap-8 items-center text-white z-[3] absolute top-[50%] right-[5%] md:right-[10%] lg:right-[15%] xl:right-[20%] 2xl:right-[25%] translate-y-[-50%]">
      <div class='flex flex-col gap-2'>
        <h4 id="txt" style="color:{{ settings.title_color }}" class='text-center md:text-[40px] font-semibold leading-[1.5]'>{{ settings.video_title }}</h4>
        <p style="color:{{ settings.des_color }}" class='max-w-[215px] md:max-w-[430px] leading-[1.5] text-center text-[9px] md:text-[18px] font-normal vid-des'>{{ settings.video_des }}</p>
      </div>
      <img loading="lazy" width='50' id="play" class='md:w-[100px] play-btn' src="{{ settings.icone_image }}" alt="Play Button">
    </div>
  </div>
</section>

<style>
.video-parent {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  display: none; 
  opacity: 1;
}

.text-box {
  right: 13%;
  gap: 17rem;
}

@media(max-width: 425px) {
  .text-box {
    right: -4%;
    gap: 0rem;
  }
  .vid-des {
    font-size: 7px;
    font-weight: 300;
    line-height: 10px;
    padding: 4px 30px;
  }
  #play {
    width: 36px;
  }
  #txt {
    font-size: 14px;
  }
}

#video-banner {
  margin-bottom: 111px;
}

@media (max-width: 765px) {
  #video-banner {
    margin-bottom: 56px;
  }
}
</style>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const videoTag = document.querySelector('#videoPlayer');
  const bgImage = document.querySelector('#bgImage');
  const videoParent = document.querySelector('.video-parent');
  const playButton = document.querySelector('#play');
  const textBox = document.querySelector('.text-box');
  const isAutoplay = '{{ settings.video_control }}' === 'true';

  if (isAutoplay) {
    videoTag.style.display = 'block'; 
    videoTag.style.opacity = '1'; 
    bgImage.style.display = 'none'; 
    textBox.style.display = 'none'; 
    playButton.style.display = 'none';
    videoTag.play(); 
  } else {
    videoTag.style.display = 'none';
    playButton.style.display = 'block'; 
    textBox.style.display = 'flex'; 
    bgImage.style.display = 'block';

    
    videoParent.addEventListener('click', () => {
      videoTag.style.display = 'block'; 
      videoTag.style.opacity = 1; 
      videoTag.play(); 
      bgImage.style.display = 'none'; 
      playButton.style.display = 'none'; 
      textBox.style.display = 'none'; 
    });

    
    videoTag.addEventListener('pause', () => {
      videoTag.style.display = 'none'; 
      videoTag.style.opacity = 0; 
      videoTag.play();
      bgImage.style.display = 'block'; 
      playButton.style.display = 'block'; 
      textBox.style.display = 'flex';
    });

  
    videoTag.addEventListener('ended', () => {
      videoTag.style.display = 'none'; 
      bgImage.style.display = 'block'; 
      playButton.style.display = 'block';
      textBox.style.display = 'flex'; 
    });
  }
});
</script>

{% schema %}

{
            "name": {
                    "ar": "بنر فيديو",
                    "en": "video bannar"
            },
            "icon": "fal fa-user",
            "display": true,
            "settings": {
            "video_title":{
                    "type": "text",
                    "label": {
                        "ar": "العنوان",
                        "en": "text"
                            }
                },
                "title_color":{
                    "type":"color",
                    "label":{
                        "ar": "لون العنوان",
                        "en": "Title color"
                    }
                },
                "video_des":{
                    "type": "text",
                    "label": {
                        "ar": "وصف للبنر",
                        "en": "text"
                    }
                },
                "des_color":{
                    "type":"color",
                    "label":{
                        "ar": "لون للوصف",
                        "en": "description color"
                    }
                },
                "video_image":{
                        "type": "image",
                        "label": {
                        "ar": "خلفيه البنر",
                        "en": "text"
                    }
                },

                "video_control": {
                    "type": "checkbox",
                    "label": {
                    "ar": "التشغيل التلقائي",
                    "en": "Video autoplay"
                    },
                    "option": {
                    "ar": "تفعيل",
                    "en": "activation"
                    }
                },
                "video_control": {
                    "type": "select",
                    "label": {
                    "ar": "التشغيل التلقائي",
                    "en": "Video autoplay"
                    },
                    "options": [
                    {
                        "value": "true",
                        "label": {
                        "ar": "نعم ",
                        "en": "yes"
                        }
                    },
                    {
                        "value": "false",
                        "label": {
                        "ar": "لا",
                        "en": "no"
                        }
                    }
                    ]
                },
                "icone_image":{
                        "type": "image",
                        "label": {
                        "ar": " الايقون",
                        "en": "text"
                    }
                },
                "video_url":{
                    "type": "text",
                    "label": {
                        "ar": " لينك الفيديو",
                        "en": "video link"
                    }
                }
            }
}

{% endschema %}