<footer section-id="{{ sectionId }}" class='d-flex flex-column'>
  <div style='background-color: var(--newsletter-color-bg);' class="relative">

	<div style='padding: 15px !important;' class="newsletters  m-auto flex justify-start max-w-[1300px] items-center flex-wrap max-lg:justify-start gap-9 md:gap-6 px-5">
		<div class="flex items-center justify-between gap-4">
			<div class="flex items-center justify-center p-2 bg-white rounded-full w-14 h-14">
				<i class="fa-regular fa-envelope"></i>
			</div>
			<div class="flex flex-col gap-2">
				<h2 class="text-xl font-semibold ">{{ settings.newsletterScema_newslatterTitle }}</h2>
				<p class="text-sm text-[#636363]">{{ settings.newsletterScema_newslatterPargraph }}</p>
			</div>
		</div>
		<div id="mc_embed_shell" class="flex-col flex-1 w-full gap-5 felx">
			{# <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css"> #}


			<h2 style='margin-bottom: 12px; font-size: 12px;' class="text-[14px] text-sm font-medium">{{ settings.newsletterScema_newslatterSecoundDescription }}</h2>
			<form action="{{settings.newsletterScema_newslatterLink}}" method="post"  class="form-newsletter flex items-center justify-start gap-2 validate" target="hidden_iframe"  onsubmit="handleFormSubmit()"  >
				<div style='flex-grow: 1;' id="mc_embed_signup_scroll" class="flex flex-wrap items-center justify-between gap-2">
					<input type="email" name="Email" id="mce-EMAIL" required="" value="" placeholder="{{ locals.email }}" class="email_button required email p-[10px] rounded-lg max-h-[48px] flex-1 border-none outline-none newslaterIn"/>
				</div>
				<div id="mce-responses" class="clear foot">
					<div class="w-0 h-0 overflow-hidden response" id="mce-error-response" style="display: none;"></div>
					<div class="w-0 h-0 overflow-hidden response" id="mce-success-response" style="display: none;"></div>
				</div>
				<div aria-hidden="true" style="display:none;">
					<input type="text" name="b_d7da51f96ed5732ca7c262453_979293c931" tabindex="-1" value="">
				</div>
				<div class="optionalParent">
					<div class="clear foot">
						<input style='background-color: var(--primary-color); padding: 6px 15px; margin: 0; cursor: pointer;' type="submit" name="subscribe" id="mc-embedded-subscribe" class="button py-[8px] text-white rounded-lg max-w-[90px] max-h-[48px] px-[16px]" value="{{ locals.sub }}">
					</div>
				</div>
			</form>
      <!-- مكان عرض رسالة التأكيد -->
      <p id="confirmationMessage" style="display: none; color: green;">{{locals.newsletter_success}}</p>

        <!-- إخفاء الإطار لضمان عدم الانتقال لصفحة جديدة -->
        <iframe name="hidden_iframe" style="display:none;"></iframe>
		</div>


		<div class="flex flex-col " style="position: relative;">
			<p class="pra_hide" style='margin-bottom: 14px;'>{{ locals.phones_apps }}</p>
			<div class="flex flex-wrap gap-4" style="position: relative; bottom: 7px">
				<a class='android-store'>
					<img src="https://cdn.salla.network/images/googleplay.png" alt="android">
				</a>
				<a class='mac-store'>
					<img src="https://cdn.salla.network/images/appstore.png" alt="mac">
				</a>
			</div>
		</div>
	</div>
</div>


    {% include 'footer-store-section.twig' with { 'about_settings' : settings } %}


    
        <script>
            function handleFormSubmit() {
                document.getElementById('confirmationMessage').style.display = 'block';

                setTimeout(() => {
                  document.querySelector('.newslaterIn').value="";
                  document.getElementById('confirmationMessage').style.display = 'none';
                }, 2000);
            }
        </script>

</footer>
<style>
		.newsletters{
			display:none;
		}
		.btn-img{
			display:flex;
			flex-direction:column;
		}
	</style>
  {% if settings.newsletterScema_newslatterActive %}
	<style>
		.newsletters{
			display:flex;
		}
		.btn-img{
			display:none;
		}
	</style>
{% endif %}


{% schema %}
{
  "name": {
    "ar": "اسفل الصفحة",
    "en": "footer" 
  },
  "icon": "fa fa-square",
  "display": true,
  "settings": {
    "about_us": {
      "type": "fieldset",
      "label": {
        "ar": "عن المتجر",
        "en": "About us"
      },
      "icon": "font_awesome",
      "expandable": true,
      "settings": {
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "Title"
          }
        },
        "des": {
          "type": "textarea",
          "label": {
            "ar": "النص",
            "en": "Description"
          }
        }
      }
    },
    "links_1": {
      "type": "fieldset",
      "label": {
        "ar": "روابط مهمة",
        "en": "Links"
      },
      "icon": "font_awesome",
      "expandable": true,
      "settings": {
        "hide": {
          "type": "checkbox",
          "label": {
            "ar": " ",
            "en": " "
          },
          "option": {
            "ar": "إخفاء",
            "en": "Hide"
          },
          "noLabel": true
        },
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "Title"
          }
        },
        "links": {
          "type": "list",
          "settings_label": {
            "ar": "الروابط",
            "en": "Links"
          },
          "noLabel": true,
          "settings": {
            "title": {
              "type": "text",
              "label": {
                "ar": "العنوان",
                "en": "text"
              }
            },
            "url": {
              "type": "url",
              "label": {
                "ar": "الرابط",
                "en": "Link"
              }
            }
          }
        }
      }
    },
    "links_2": {
      "type": "fieldset",
      "label": {
        "ar": "روابط مهمة",
        "en": "Links"
      },
      "icon": "font_awesome",
      "expandable": true,
      "settings": {
        "hide": {
          "type": "checkbox",
          "label": {
            "ar": " ",
            "en": " "
          },
          "option": {
            "ar": "إخفاء",
            "en": "Hide"
          },
          "noLabel": true
        },
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "Title"
          }
        },
        "links": {
          "type": "list",
          "settings_label": {
            "ar": "الروابط",
            "en": "Links"
          },
          "noLabel": true,
          "settings": {
            "title": {
              "type": "text",
              "label": {
                "ar": "العنوان",
                "en": "text"
              }
            },
            "url": {
              "type": "url",
              "label": {
                "ar": "الرابط",
                "en": "Link"
              }
            }
          }
        }
      }
    },
    "business_location": {
      "type": "fieldset",
      "label": {
        "ar": "الموقع الجغرافي",
        "en": "Business location"
      },
      "icon": "font_awesome",
      "expandable": true,
      "settings": {
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "Title"
          }
        }
      }
    },
    "social_media": {
      "type": "fieldset",
      "label": {
        "ar": "وسائل التواصل",
        "en": "Business location"
      },
      "icon": "font_awesome",
      "expandable": true,
      "settings": {
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "Title"
          }
        }
      }
    },
    "businessCenter": {
      "type": "fieldset",
      "label": {
        "ar": "منصه الاعمال ",
        "en": "Business center"
      },
      "icon": "font_awesome",
      "expandable": true,
      "settings": {
        "showNumber": {
          "type": "checkbox",
          "label": {
            "ar": " ",
            "en": " "
          },
          "option": {
            "ar": "اظهار رقم منصه الاعمال",
            "en": "Show business center number"
          },
          "noLabel": true
        }
      }
    },
    "newsletterScema": {
"type": "fieldset",
"label": {
"ar": "النشره البريديه",
"en": "newsletter"
},
"icon": "font_awesome",
"expandable": true,
"settings": {
"newslatterActive": {
"type": "checkbox",
"label": {
"ar": "تفعيل النشرة البريدية",
"en": "Enable Newsletter"
}
},
"newslatterTitle": {
"type": "text",
"label": {
"ar": "العنوان للنشرة البريدية",
"en": "Newsletter Title"
}
},
"newslatterPargraph": {
"type": "text",
"label": {
"ar": "وصف للنشرة البريدية",
"en": "Newsletter description"
}
},
"newslatterSecoundDescription": {
"type": "text",
"label": {
"ar": "الوصف التاني",
"en": "The second description"
}
},
"newslatterLink": {
"type": "text",
				"label": {
					"ar": "ادخل رابط الفورم",
					"en": "Enter the form link"
				}
			}
}
}
  }
}
{% endschema %}
