<!doctype html>
<html class="no-js" lang="{{ session.lang.code }}" dir="{% if session.lang.code == 'ar' %}rtl{% else %}ltr{% endif %}">
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		
		{{ header_meta_tags | raw }}
		
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
		{# gsap library #}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js"></script>
		<link rel="shortcut icon" type="image/jpg" href={{ store.icon }}/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!--jquery UI -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
		<link href="https://fonts.googleapis.com/css2?family={% if settings.fonts_name %}{{ settings.fonts_name }}{% else %}Changa{% endif %}:wght@200..1000&display=swap" rel="stylesheet">
		<style>
			/* loader edit */
			
				.overlay {
					position: fixed;
					top: 0;
					left: 0;
					width: 100vw;
					height: 100vh;
					display: flex;
					align-items: center;
					justify-content: center;
					background: white;
					transition: opacity 0.75s, visibility 0.75s;
					z-index: 999999;
				}
				
				.overlay .img_loader {
					animation: logo_load 3s ease-in-out ;
				}

				@keyframes logo_load {
					0% {
						transform: scale(0.1);
					}
					70% {
						transform: scale(0.8);
					}
					100% {
						transform: scale(1);
					}
				}
			
			body.loaded .overlay,
			body.loaded .img_loader{
				display: none; 
			}


			.sm-search-div.show {
				display: block !important;
			}
			ul.main-nav {
				justify-content: center !important;
				align-items: center;
				gap: 10px;
			}
			:root {
				--primary-color: {{store.colors.primary}}
				;
				--text-color-primary-bg: {{store.colors.text_of_primary_bg}}
				;
				--newsletter-color-bg: {{store.colors.primary}}2e
				;

				--sub-primary-color: #521B25;
				--white-color: #fff;
				--warning-color: #FFCF57;
				--danger-color: #EC5550;
				--sucess-color: #5AA788;
				--black-color: #0000;
				--secondary-color: #DEDEDE;
				--secondary-color-alt0: #6B6B6B;
				--secondary-color-alt1: #5A5A5A;
				--secondary-color-alt2: #EFEFEF;
				--secondary-color-alt3: #494949;
				--secondary-color-alt4: #D9D9D9;
				--secondary-color-alt5: #E8E8E8;
				--secondary-color-alt6: #8B8B8B;
				--secondary-color-alt7: #ebebeb;
				--secondary-color-alt8: #484848;
				--secondary-color-alt9: #A8A8A8;
				--secondary-color-alt10: #4A4A4A;
				--secondary-color-alt11: #606060;
				--secondary-color-alt12: #767676;
				--secondary-color-alt13: #F8F8F8;
				--
				/* font-wieght */
				--font-weight-sizeOne: 400;
				--font-wieght-sizeTwo: 700;
				--font-wieght-sizeThree: 600;
				/* font-size */
				--font-size-forteen: 1.167;
				--font-size-sixteen: 1.333;
				--font-size-eighteen: 1.5;

				--main-slider-height: 471.43px;
				--main-slider-sm-height: 115px;
			}
			body,
			html {
				overflow-x: hidden !important;
				
			}
			</style>

		{% if session.lang.code == 'ar' %}
			<link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'bootstrap-rtl.css?v=1.05' }}"/>
		{% else %}
			<link rel="stylesheet" type="text/css" href="{{ assetUrl('bootstrap.min.css?v=1.01') }}"/>
		{% endif %}

		<link rel="stylesheet" type="text/css" href="{{ assetUrl('bootstrap-fixes.css?v=1.11') }}"/>

		
		<link rel="stylesheet" type="text/css" href="{{ assetUrl('jquery-ui.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ assetUrl('jquery-ui.structure.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ assetUrl('jquery-ui.theme.min.css') }}"/>
		
		
		<link rel="stylesheet" type="text/css" href="{{ assetUrl('slide-menu.css') }}"/>

		<link rel="stylesheet" type="text/css" href="{{ assetUrl('slide-menu-style.css?v=1.16') }}"/>

		<link rel="stylesheet" href="{{ assetUrl('main.css?v=1.228') }}"/>

		<link rel="stylesheet" type="text/css" href="{{ assetUrl('g_cat.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ assetUrl('g_square_image.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ assetUrl('g_fixed_bannar.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ assetUrl('g_sliderbannar.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ assetUrl('g_features.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ assetUrl('custom.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ assetUrl('product.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ assetUrl('g_commonQ.css') }}"/>
		

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>


		{% if session.lang.code == 'ar' %}
			<link rel="stylesheet" href="{{ assetUrl('main.rtl.css?v=1.25') }}">
		{% endif %}

		{% block top_links %}{% endblock %}

		{% if user_custom_css %}
			<link rel="stylesheet" href="{{ user_custom_css }}">
		{% endif %}
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		
	</head>
	
	<body class="{% if session.lang.code == 'ar' %}rtl{% else %}ltr{% endif %}" data-template="{{ template }}" {% if template == 'category' and category is not empty %} data-category-id="{{ category.id }}" {% endif %}>
		{# edit loader #}
		{% if  settings.load_loader == "true" and template == 'home' %}
			<div class="overlay">
				<img src="{{ store.logo }}" class="img_loader" />
			</div>
		{% endif %}
		

		<div class="popup-product-details"></div>

		{% if store.editing_mode %}
			<link href="https://fonts.googleapis.com/css2?family={% if settings.fonts_name %}{{ settings.fonts_name }}{% else %}Changa{% endif %}:wght@300;400;500;700&display=swap" rel="stylesheet">
		{% endif %}
		<style>
			body,
			html {
				font-family: {% if settings.fonts_name %}
					{{strReplace('+', ' ', settings.fonts_name)}}
				{% else %}
					'Changa'{% endif %}, sans-serif;
			}

			:root {
				{% if settings.colors_header_background_color %}
					--header-primary-color: {{settings.colors_header_background_color}};
				{% endif %}
				{% if settings.colors_header_menu_background_color %}
					--menu-header-primary-color: {{settings.colors_header_menu_background_color}};
					--header-primary-brightness: brightness(100%);
				{% elseif settings.colors_header_background_color %}
					--menu-header-primary-color: {{settings.colors_header_background_color}};
					--header-primary-brightness: brightness(80%);
				{% endif %}
				{% if settings.colors_header_menu_text_color %}
					--menu-header-text-color-primary-bg: {{settings.colors_header_menu_text_color}};
				{% elseif settings.colors_header_text_color %}
					--menu-header-text-color-primary-bg: {{settings.colors_header_text_color}};
				{% endif %}
				{% if settings.colors_header_text_color %}
					--header-text-color-primary-bg: {{settings.colors_header_text_color}};
				{% endif %}
				{% if settings.colors_footer_background_color %}
					--footer-primary-color: {{settings.colors_footer_background_color}};
				{% endif %}
				{% if settings.colors_footer_text_color %}
					--footer-text-color-primary-bg: {{settings.colors_footer_text_color}};
				{% endif %}
			}
			{% if settings.coupon_item %}
			.has_hidden_coupon {
				display: none !important;
			}
			{% endif %}
		</style>
		{% block top_body %}{% endblock %}
		<div class="visible  d-flex flex-column">
			<div class="header po">
					<div class="ine-header" >
					
						{% include 'slider_top.twig' with {'te_setting': settings} %}
						{% block header %}{% endblock %}
					</div>
					
				<div class="header-bottom hidden">
					<a href="/" class="flex flex-col items-center justify-center gap-1 ">
						<div class="top-0 left-0 flex flex-col items-center justify-center gap-1">
							<div class="relative shrink-0">
								<svg style="" width="25" height="25" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.5 9.93841C0.5 8.71422 1.06058 7.55744 2.02142 6.79888L7.52142 2.45677C8.97466 1.30948 11.0253 1.30948 12.4786 2.45677L17.9786 6.79888C18.9394 7.55744 19.5 8.71422 19.5 9.93841V16.5C19.5 18.7091 17.7091 20.5 15.5 20.5H14C13.4477 20.5 13 20.0523 13 19.5V16.5C13 15.3954 12.1046 14.5 11 14.5H9C7.89543 14.5 7 15.3954 7 16.5V19.5C7 20.0523 6.55228 20.5 6 20.5H4.5C2.29086 20.5 0.5 18.7091 0.5 16.5L0.5 9.93841Z" stroke="#818181" stroke-width="1.5"/>
								</svg>
							</div>
							<div class="text-header-bottom text-[#818181] text-left text-sm leading-[14px] font-normal relative w-11">
								{{ locals.home_title }}
							</div>
						</div>
					</a>
					{# <p>{{ settings.logo_position}}</p> #}
					
					<a href="/auth/login" class="flex flex-col items-center justify-center gap-1 ">
						<div class="top-0 left-0 flex flex-col items-center justify-center gap-1">
							<div class="relative shrink-0">
								<i class="auth-login fa-regular fa-circle-user"></i>
							</div>
							<div class="text-header-bottom text-[#818181] text-left text-sm leading-[14px] font-normal relative w-11">
								{{ locals.account }}
							</div>
						</div>
					</a>

					<a href="/products" class="flex flex-col items-center justify-center gap-1 ">
						<div class="top-0 left-0 flex flex-col items-center justify-center gap-1">
							<div class="relative shrink-0">
								<i class="fa-solid fa-cart-plus"></i>
							</div>
							<div class="text-header-bottom text-[#818181] text-left text-sm leading-[14px] font-normal relative w-11">
								{{ locals.products }}
							</div>
						</div>
					</a>

					<a href="/cart/view" class="flex flex-col items-center justify-center gap-1 ">
						<div class="top-0 left-0 flex flex-col items-center justify-center gap-1">
							<div class="relative shrink-0">
								<svg style="" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9.11072 7.33643H16.3107C19.7107 7.33643 20.0507 8.92642 20.2807 10.8664L21.1807 18.3664C21.4707 20.8264 20.7107 22.8364 17.2107 22.8364H8.22072C4.71072 22.8364 3.95072 20.8264 4.25072 18.3664L5.15073 10.8664C5.37073 8.92642 5.71072 7.33643 9.11072 7.33643Z" stroke="#818181" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
									<path d="M8.71069 8.83643V5.33643C8.71069 3.83643 9.71069 2.83643 11.2107 2.83643H14.2107C15.7107 2.83643 16.7107 3.83643 16.7107 5.33643V8.83643" stroke="#818181" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
									<path d="M21.1207 17.8662H8.71069" stroke="#818181" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
								</svg>
							</div>
							<div class="text-header-bottom text-[#818181] text-left text-sm leading-[14px] font-normal relative w-11">
								{{ locals.salla }}
							</div>
						</div>
					</a>

				</div>
			</div>
				<div class="main flex-grow-1 app-content" {% if settings.colors_background_image %} style="background-repeat: repeat; background-image: url('{{ settings.colors_background_image }}');" {% endif %}> {% block main_content %}{% endblock %}
					</div>
				     {# <p>{{settings}}</p> #}
					 {% if template == 'home'  %}
	               	 	{% include 'discount_popup.twig'  with {'discount': settings} %}  
					 {% endif %}
					<div class="salla-side-bar" ></div>
					<div class="footer"> {% block footer %}{% endblock %}
						</div>
						{% block footer_sticky %}{% endblock %}
					</div>

					{{ zidapi_script|raw }}

<script>

window.appDirection = '{% if session.lang.code == 'ar' %}rtl{% else %}ltr{% endif %}';

window.loadToasterScriptIfNotLoaded = function (onCompleted) {
    var list = document.getElementsByTagName('script');
    var i = list.length,
        flag = false;

    while (i--) {
        if (list[i].src === "{{ asset_url ~ 'toastr.min.js' }}") {
            flag = true;
            break;
        }
    }

    if (!flag) {
        var script = document.createElement('script');
        script.src = "{{ asset_url ~ 'toastr.min.js' }}";
        document.getElementsByTagName('head')[0].appendChild(script);

        var fileref = document.createElement("link");
        fileref.rel = "stylesheet";
        fileref.type = "text/css";
        fileref.href = "{{ asset_url ~ 'toastr.min.css' }}";
        document.getElementsByTagName("head")[0].appendChild(fileref);

        script.onload = function () {
            if (onCompleted) onCompleted();
        };
    } else {
        if (onCompleted) onCompleted();
    }
}


</script>


					<style>:root
					{
						--title-bg: url({{settings.titlebg_image}});
					}
				</style>
				<script src="{{ assetUrl('jquery-3.6.0.min.js?v=1.0.0') }}"></script>

				<script src="{{ assetUrl('jquery-ui.min.js') }}"></script>

				<script src="{{ assetUrl('popper.min.js?v=1.0') }}"></script>
				<script src="{{ assetUrl('bootstrap.min.js') }}"></script>

				<script src="{{ assetUrl('slide-menu.ie.js?v=1.06') }}"></script>

				<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>

				<script type="text/javascript" src="{{ assetUrl('main.js?v=1.129') }}"></script>

				{# Local storage #}
				

				<!-- Initialize Swiper -->
				<link
				rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
				/>				
				<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
				<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
				
				{% block footer_scripts %}{% endblock %}
				


				<script>
					
				document.addEventListener('DOMContentLoaded', function() {
					const overlay = document.querySelector(".overlay");
					overlay.style.display = 'flex';
				});

				window.addEventListener('load', function() {
					const overlay = document.querySelector(".overlay").style.display = 'none';
					const logo = document.querySelecto(".img_loader").style.display = 'none';
				});




	//side cart 
	let cartBtn = document.querySelector(".a-shopping-cart");
    let slideBar = document.querySelector('.salla-side-bar');

    // Show sidebar when clicking the cart button
    cartBtn.onclick = async(event) => {
        event.stopPropagation(); // Prevents the event from bubbling to `document`
		await fetchData();
        slideBar.style.display = 'block';
    };

    // Hide sidebar when clicking anywhere outside of it
    document.addEventListener("click", function (event) {
        // Check if the click is outside both the sidebar and the cart button
        if (!slideBar.contains(event.target) && event.target !== cartBtn) {
			
            slideBar.style.display = 'none';
        }
    });

    // Prevent sidebar from hiding when clicking inside it
    slideBar.onclick = (event) => {
        event.stopPropagation();
    };
			

			 //  funtion of side bar
			 let sallaSideBar = document.querySelector('.salla-side-bar');

			 async function fetchData() {
        try {
            // Fetch the data with zid store
            let data = await zid.store.cart.fetch();
				console.log(data);
            function updateSidebar() {
                // Check if there are no products 
                if (data.data.cart.products.length === 0) {
                  sallaSideBar.innerHTML = `
                      <div style="display:flex; align-items:center;margin-inline:15px;"> 
                          <svg class="close-sidebar" xmlns="http://www.w3.org/2000/svg" height="30" width="30"
                              viewBox="0 0 512 512"
                              style="cursor: pointer;">
                              <path fill="var(--primary-color)"
                                  d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
                          </svg>
                          <h1 style="padding: 20px; margin-top: 10px;"> {{ locals.salla_shops }}</h1>
                      </div>
                      <hr>
                      <div style="display:flex; align-items:center; justify-content:center; height: 75%; flex-direction:column;">
                        <img src="{{ asset_url ~ 'emptysalla.png' }}" loading="lazy" alt="emptysalla" width="auto" height="auto">
                        <p style="text-align:center; padding:20px; font-size:18px; color:#ce5a67;"> {{ locals.empty_salla }} </p>
                      </div>
                  `;
				
                  const closeButton = sallaSideBar.querySelector('.close-sidebar');
                  closeButton.addEventListener('click', function() {
                      sallaSideBar.style.display = 'none';
                  });
                 return;
              }


                let productsHTML = `
                    <div style="display:flex; align-items:center; padding-right: 10px; position: sticky; top: 0; background-color: #fff; box-shadow: -5px -12px 13px 9px #00000075;">
                        <svg class="close-sidebar" xmlns="http://www.w3.org/2000/svg" height="30" width="30"
                            viewBox="0 0 512 512"
                            style="cursor: pointer;">
                            <path fill="#ce5a67"
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4-9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
                        </svg>
                        <h1 style="padding: 20px; ">  {{ locals.salla_shops }}  </h1>
                    </div>
                    
                    `;
                
                // Loop over products to create the product HTML
                data.data.cart.products.forEach((product, index) => {
                    let imagesHTML = '';
                    product.images.forEach(image => {
                        imagesHTML += `<img src="${image.origin}" alt="${product.name}" style="width: 95px; height: auto;"/>`;
                    });

                    productsHTML += `
                        <div class="product">
                           <a href="${product.url}"> 
						    <div class="product-images">${imagesHTML}</div>
							</a>							
							<div class="text_cart" style="display:flex; flex-direction:column; align-items:center;">
							<a href="${product.url}">
                                <p>${product.name}</p>
							</a>	
                                <div class="prices" style="display:flex; align-items:center; gap:15px;">
                                    <p style="text-decoration:line-through; color:#ce5a67;"> ${product.price_before_string ? "Price:" + product.price_before_string : ""}</p>
                                    <p>Price: ${product.price_string}</p>
                                </div>
                            </div>
                            <svg class="remove-btn" data-index="${index}" data-product-id="${product.id}" xmlns="http://www.w3.org/2000/svg" height="25" width="25"
                                viewBox="0 0 512 512"
                                style="cursor: pointer;">
                                <path fill="#ce5a67"
                                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4-9.4-24.6-9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
                            </svg>
                        </div> 
                        <hr>
                    `;
                });async function fetchData() {
					try {
						// Fetch the data with zid store
						let data = await zid.store.cart.fetch();
							console.log(data);
						function updateSidebar() {
							// Check if there are no products 
							if (data.data.cart.products.length === 0) {
							  sallaSideBar.innerHTML = `
								  <div style="display:flex; align-items:center;margin-inline:15px;"> 
									  <svg class="close-sidebar" xmlns="http://www.w3.org/2000/svg" height="30" width="30"
										  viewBox="0 0 512 512"
										  style="cursor: pointer;">
										  <path fill="#ce5a67"
											  d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
									  </svg>
									  <h1 style="padding: 20px; margin-top: 10px;"> {{ locals.salla_shops }}</h1>
								  </div>
								  <hr>
								  <div style="display:flex; align-items:center; justify-content:center; height: 75%; flex-direction:column;">
									<img src="{{ asset_url ~ 'emptysalla.png' }}" loading="lazy" alt="emptysalla" width="auto" height="auto">
									<p style="text-align:center; padding:20px; font-size:18px; color:#ce5a67;"> {{ locals.empty_salla }} </p>
								  </div>
							  `;
							
							  const closeButton = sallaSideBar.querySelector('.close-sidebar');
							  closeButton.addEventListener('click', function() {
								  sallaSideBar.style.display = 'none';
							  });
							 return;
						  }
			
			
							let productsHTML = `
								<div style="display:flex; align-items:center; padding-right: 10px; position: sticky; top: 0; background-color: #fff; box-shadow: -5px -12px 13px 9px #00000075;">
									<svg class="close-sidebar" xmlns="http://www.w3.org/2000/svg" height="30" width="30"
										viewBox="0 0 512 512"
										style="cursor: pointer;">
										<path fill="#ce5a67"
											d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4-9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
									</svg>
									<h1 style="padding: 20px; ">  {{ locals.salla_shops }}  </h1>
								</div>
								
								`;
							
							// Loop over products to create the product HTML
							data.data.cart.products.forEach((product, index) => {
								let imagesHTML = '';
								product.images.forEach(image => {
									imagesHTML += `<img src="${image.origin}" alt="${product.name}" style="width: 95px; height: auto;"/>`;
								});
			
								productsHTML += `
									<div class="product">
									   <a href="${product.url}"> 
										<div class="product-images">${imagesHTML}</div>
										</a>							
										<div class="text_cart" style="display:flex; flex-direction:column; align-items:center;">
										<a href="${product.url}">
											<p>${product.name}</p>
										</a>	
											<div class="prices" style="display:flex; align-items:center; gap:15px;">
												<p style="text-decoration:line-through; color:#ce5a67;"> ${product.price_before_string ? "Price:" + product.price_before_string : ""}</p>
												<p>Price: ${product.price_string}</p>
											</div>
										</div>
										<svg class="remove-btn" data-index="${index}" data-product-id="${product.id}" xmlns="http://www.w3.org/2000/svg" height="25" width="25"
											viewBox="0 0 512 512"
											style="cursor: pointer;">
											<path fill="#ce5a67"
												d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4-9.4-24.6-9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
										</svg>
									</div> 
									<hr>
								`;
							});
			
							productsHTML += `<a href="/cart/view" style="position:fixed; bottom:2%; width:-webkit-fill-available;border-radius:10px; color:#fff; background-color:#ce5a67; padding:10px 25px; text-align:center; font-size:19px; box-shadow: 0px 0px 4px 0px #363131; margin-inline:20px;">  {{locals.go_cart}} </a>`
			
							sallaSideBar.innerHTML = productsHTML;
			
							// Add event listeners to each delete button
							sallaSideBar.querySelectorAll('.remove-btn').forEach(button => {
								button.addEventListener('click', async function () {
									const productId = button.getAttribute('data-product-id');
									
									// Call the API to remove the product from the server-side cart
									try {
										await zid.store.cart.removeProduct(productId);
										
										// Remove the product locally from the array
										const index = parseInt(button.getAttribute('data-index'));
										data.data.cart.products.splice(index, 1);
			
										// Refresh the sidebar content
										updateSidebar();
									} catch (error) {
										console.error('Error removing product from cart:', error);
									}
								});
							});
			
							// Add event listener to close the sidebar
							const closeButton = sallaSideBar.querySelector('.close-sidebar');
							closeButton.addEventListener('click', function() {
								sallaSideBar.style.display = 'none';
							});
						}
			
						updateSidebar();
			
					} catch (error) {
						sallaSideBar.innerHTML = `
								  <div style="display:flex; align-items:center;margin-inline:15px;"> 
									  <svg class="close-sidebar" xmlns="http://www.w3.org/2000/svg" height="30" width="30"
										  viewBox="0 0 512 512"
										  style="cursor: pointer;">
										  <path fill="#ce5a67"
											  d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
									  </svg>
									  <h1 style="padding: 20px; margin-top: 10px;"> {{ locals.salla_shops }}</h1>
								  </div>
								 
								  <div style="display:flex; align-items:center; justify-content:center; height: 75%; flex-direction:column;">
									<img src="{{ asset_url ~ 'emptysalla.png' }}" loading="lazy" alt="emptysalla" width="auto" height="auto">
									<p style="text-align:center; padding:20px; font-size:18px; color:#ce5a67;"> {{ locals.empty_salla }} </p>
								  </div>
							  `;
					}
				}

				productsHTML += `<a href="/cart/view" style="position:fixed; bottom:2%; width:-webkit-fill-available;border-radius:10px; color:#fff; background-color:#ce5a67; padding:10px 25px; text-align:center; font-size:19px; box-shadow: 0px 0px 4px 0px #363131; margin-inline:20px;">  {{locals.go_cart}} </a>`

                sallaSideBar.innerHTML = productsHTML;

                // Add event listeners to each delete button
                sallaSideBar.querySelectorAll('.remove-btn').forEach(button => {
                    button.addEventListener('click', async function () {
                        const productId = button.getAttribute('data-product-id');
                        
                        // Call the API to remove the product from the server-side cart
                        try {
                            await zid.store.cart.removeProduct(productId);
                            
                            // Remove the product locally from the array
                            const index = parseInt(button.getAttribute('data-index'));
                            data.data.cart.products.splice(index, 1);

                            // Refresh the sidebar content
                            updateSidebar();
                        } catch (error) {
                            console.error('Error removing product from cart:', error);
                        }
                    });
                });

                // Add event listener to close the sidebar
                const closeButton = sallaSideBar.querySelector('.close-sidebar');
                closeButton.addEventListener('click', function() {
                    sallaSideBar.style.display = 'none';
                });
            }

            updateSidebar();

        } catch (error) {
			sallaSideBar.innerHTML = `
                      <div style="display:flex; align-items:center;margin-inline:15px;"> 
                          <svg class="close-sidebar" xmlns="http://www.w3.org/2000/svg" height="30" width="30"
                              viewBox="0 0 512 512"
                              style="cursor: pointer;">
                              <path fill="#ce5a67"
                                  d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
                          </svg>
                          <h1 style="padding: 20px; margin-top: 10px;"> {{ locals.salla_shops }}</h1>
                      </div>
                      <hr>
                      <div style="display:flex; align-items:center; justify-content:center; height: 75%; flex-direction:column;">
                        <img src="{{ asset_url ~ 'emptysalla.png' }}" loading="lazy" alt="emptysalla" width="auto" height="auto">
                        <p style="text-align:center; padding:20px; font-size:18px; color:#ce5a67;"> {{ locals.empty_salla }} </p>
                      </div>
                  `;
        }
    }



	
  document.addEventListener('DOMContentLoaded', function () {
    
    fetchData();
});


				</script>
			</body>


		</html>


{% block header_bottom %}
	<style>
	
		.auth-login {
			font-size: 21px;
		}

		.text-header-bottom {
			width: fit-content;
		}

		.show-stars {
			position: relative;
			
		}
.show-stars:before {
    opacity: 0;
    content: "";
    background-image: url({{settings.stars_icon}}); 
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: 8px;
    top: 8px;
    transition: opacity 0.3s ease; 
}

.show-stars:after {
    opacity: 0;
    content: "";
    background-image: url({{settings.stars_icon}}); 
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    right: 8px;
    bottom: 8px;
    transition: opacity 0.3s ease; 
}
	</style>
{% endblock %}

<style>
		.salla-side-bar {
			position: fixed;
			height: 100%;
			left: 0;
			top: 0;
			background-color: #fff;
			border-radius: 4px;
			box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.5);
			overflow-y: auto;
			z-index: 99999;
			width: 0;
			animation: move 0.4s ease forwards; 
			display: none;
			padding-bottom: 70px;
		}
		.salla-side-bar	.text_cart {
			font-size:16px;
			color:#000;
			max-width: 350px;
		}
		.salla-side-bar	 .product{
			padding:10px; 
			display: flex; 
			align-items: center; 
			text-align: center; 
			justify-content: space-between;
			margin: 10px;
		}
		.header-bottom {
			display: none;
		}
	@keyframes move {
    from {
      width: 0;
    }
    to {
      width: 40%; 
    }
  }
  @media (max-width:768px){
    @keyframes move {
      from {
        width: 0;
      }
      to {
        width: 90%; 
      }
    }
  }
  @media (max-width:425px){
    @keyframes move {
      from {
        width: 0;
      }
      to {
        width: 100%; 
      }
    }
	.salla-side-bar	.text_cart{
			font-size: 13px;
			max-width: 170px;
		}
  }
  
		@media (max-width: 765px) {
			.header-bottom {
				display: flex;
				gap: 20px;
				justify-content: space-around;
				align-items: center;
				padding: 10px;
				width: 100%;
				height: 60px;
				background-color: #FFF;
				position: fixed;
				bottom: 0;
				left: 0;
				z-index: 33;
			}
		.salla-side-bar	.text_cart{
			font-size: 13px;
			max-width: 225px;
		}

		}
@media (max-width:425px){
    
	.salla-side-bar	.text_cart{
			font-size: 13px;
			max-width: 170px;
		}
	.salla-side-bar .product{
		padding: 10px 10px 10px 5px;

	}
  }
</style>
	<style>
		.product-item .pr-img{
			width:100%;
			height:100%;
			align-items: center;
		}
</style>
{% if settings.image_control_item %}
	<style>
		.product-item .pr-img img{
			height: 100% !important;
			width: auto !important;
		}
	</style>
{% else %}
	<style>
		.product-item .pr-img img{
			width: 100% !important;
			height: auto !important;
		}
	</style>

{% endif %}
	
{% if settings.android_store_url | length %}
	<style>
		.android-store {
			display:block;
		}
		.btn-img > p  , .pra_hide{
			display:block;
		}
	</style>
{% endif %}
{% if settings.mac_store_url | length %}
	<style>
		.mac-store {
			display:block;
		}
		.btn-img > p , .pra_hide{
			display:block; 
		}
	</style>
{% endif %}

{% if settings.logo_card_logo_position == 'top_right' %}
	<style>
		.up-pr-photo {
			right:6px;
			top:6px;
		}
	</style>
{% endif %}
{% if settings.logo_card_logo_position == 'top_left' %}
	<style>
		.up-pr-photo{
			left:6px;
			top:6px;
		}
	</style>
{% endif %}
{% if settings.logo_card_logo_position == 'bottom_right' %}
	<style>
		.up-pr-photo{
			right:6px;
			bottom:6px;
		}
	</style>
{% endif %}
{% if settings.logo_card_logo_position == 'bottom_left' %}
	<style>
		.up-pr-photo{
			left:6px;
			bottom:6px;
		}
	</style>
{% endif %}

	{% schema %}
	{
	"load": {
		"name": {
			"ar": "التحميل",
			"en": "loading"
		},
		"icon": "fa fa-paint-brush",
		"display": true,
		"settings": {
			"loader": {
				"type": "select",
				"label": {
					"ar": "انيمشن تحميل الصفحة",
					"en": "loader of the page"
				},
				"options": [
					{
						"value": "true",
						"label": {
							"ar": "نعم",
							"en": "yes"
						}
					},
					{
						"value": "false",
						"label": {
							"ar": "لا",
							"menuen": "no"
						}
					}
				]
			}
		}
	},	
	"slider_top": {
		"type": "fieldset",
		"name": {
		"ar": "الشريط العلوي",
		"en": "Sidebar Banner in Categories Page"
		},
		"icon": "font_awesome",
		"expandable": true,
		"settings": {
		"is_sidebar": {
			"type": "checkbox",
			"label": {
			"ar": "تفعيل الشريط العلوي",
			"en": "Activate the Top Slider"
			}
		},
		"text_list": {
			"type": "list",
			"label": {
			"ar": "قائمة نصوص الشريط",
			"en": "Slider Text List"
			},
			"settings": {
			"image": {
				"type": "image",
				"label": {
				"ar": "أيقونة",
				"en": "Icon"
				}
			},
			"title": {
				"type": "text",
				"label": {
				"ar": "النص الرئيسي",
				"en": "Main Text"
				}
			},
			"featured_text": {
				"type": "text",
				"label": {
				"ar": "النص المميز",
				"en": "Featured Text"
				}
			},
			"featured_text_color": {
				"type": "color",
				"label": {
				"ar": "لون النص المميز",
				"en": "color featured Text"
				}
			},
			"link": {
				"type": "url",
				"label": {
				"ar": "رابط",
				"en": "URL"
				}
			}
			}
		}
		}
	},
	"colors": {
		"name": {
			"ar": "الالوان",
			"en": "Colors"
		},
		"icon": "fa fa-paint-brush",
		"display": true,
		"settings": {
			"header": {
				"type": "fieldset",
				"label": {
					"ar": "رأس الصفحة",
					"en": "Header"
				},
				"icon": "font_awesome",
				"expandable": true,
				"settings": {
					"background_color": {
						"type": "color",
						"label": {
							"ar": "لون الخلفية",
							"en": "Background color"
						}
					},
					"text_color": {
						"type": "color",
						"label": {
							"ar": "لون النص",
							"en": "Text color"
						}
					},
					"menu_background_color": {
						"type": "color",
						"label": {
							"ar": "لون خلفية القائمة الرئيسية (اختياري)",
							"en": "Menu color"
						}
					},
					"menu_text_color": {
						"type": "color",
						"label": {
							"ar": "لون نص القائممة الرئيسية (اختياري)",
							"en": "Text color"
						}
					}
				}
			},
			"footer": {
				"type": "fieldset",
				"label": {
					"ar": "اسفل الصفحة",
					"en": "Header"
				},
				"icon": "font_awesome",
				"expandable": true,
				"settings": {
					"background_color": {
						"type": "color",
						"label": {
							"ar": "لون الخلفية",
							"en": "Text color"
						}
					},
					"text_color": {
						"type": "color",
						"label": {
							"ar": "لون النص",
							"en": "Text color"
						}
					}
				}
			},
			"background": {
				"type": "fieldset",
				"label": {
					"ar": "الخلفية",
					"en": "Background"
				},
				"icon": "font_awesome",
				"expandable": true,
				"settings": {
					"image": {
						"type": "image",
						"label": {
							"ar": "الصورة",
							"en": "Logo"
						},
						"info": {
							"ar": "ارفع صورة بحجم 150 * 150 ",
							"en": "This is an info text sample here"
						}
					}
				}
			}
		}
	},
	"fonts": {
		"name": {
			"ar": "الخطوط",
			"en": "fonts"
		},
		"icon": "fa fa-font",
		"display": true,
		"settings": {
			"name": {
				"type": "select",
				"label": {
					"ar": "اسم الخط",
					"en": "Font name"
				},
				"options": [
					{
						"value": "Changa",
						"label": {
							"ar": "Changa",
							"en": "Changa"
						}
					},
					{
						"value": "Cairo",
						"label": {
							"ar": "Cairo",
							"en": "Cairo"
						}
					},
					{
						"value": "Amiri",
						"label": {
							"ar": "Amiri",
							"en": "Amiri"
						}
					},
					{
						"value": "Mada",
						"label": {
							"ar": "Mada",
							"en": "Mada"
						}
					},
					{
						"value": "Tajawal",
						"label": {
							"ar": "Tajawal",
							"en": "Tajawal"
						}
					},
					{
						"value": "Almarai",
						"label": {
							"ar": "Almarai",
							"en": "Almarai"
						}
					},
					{
						"value": "El+Messiri",
						"label": {
							"ar": "El Messiri",
							"en": "El Messiri"
						}
					},
					{
						"value": "Lalezar",
						"label": {
							"ar": "Lalezar",
							"en": "Lalezar"
						}
					},
					{
						"value": "Scheherazade",
						"label": {
							"ar": "Scheherazade",
							"en": "Scheherazade"
						}
					},
					{
						"value": "Lemonada",
						"label": {
							"ar": "Lemonada",
							"en": "Lemonada"
						}
					},
					{
						"value": "Markazi+Text",
						"label": {
							"ar": "Markazi",
							"en": "Markazi"
						}
					},
					{
						"value": "Lateef",
						"label": {
							"ar": "Lateef",
							"en": "Lateef"
						}
					},
					{
						"value": "Reem+Kufi",
						"label": {
							"ar": "Reem Kufi",
							"en": "Reem Kufi"
						}
					},
					{
						"value": "IBM+Plex+Sans+Arabic",
						"label": {
							"ar": "IBM Arabic",
							"en": "IBM Arabic"
						}
					},
					{
						"value": "Harmattan",
						"label": {
							"ar": "Harmattan",
							"en": "Harmattan"
						}
					},
					{
						"value": "Mirza",
						"label": {
							"ar": "Mirza",
							"en": "Mirza"
						}
					},
					{
						"value": "Rakkas",
						"label": {
							"ar": "Rakkas",
							"en": "Rakkas"
						}
					},
					{
						"value": "Katibeh",
						"label": {
							"ar": "Katibeh",
							"en": "Katibeh"
						}
					},
					{
						"value": "Scheherazade+New",
						"label": {
							"ar": "Scheherazade New",
							"en": "Scheherazade New"
						}
					},
					{
						"value": "Aref+Ruqaa",
						"label": {
							"ar": "Aref Ruqaa",
							"en": "Aref Ruqaa"
						}
					},
					{
						"value": "Qahiri",
						"label": {
							"ar": "Qahiri",
							"en": "Qahiri"
						}
					},
					{
						"value": "Jomhuria",
						"label": {
							"ar": "Jomhuria",
							"en": "Jomhuria"
						}
					},
					{
						"value": "Kufam",
						"label": {
							"ar": "Kufam",
							"en": "Kufam"
						}
					},
					{
						"value": "Vibes",
						"label": {
							"ar": "Vibes",
							"en": "Vibes"
						}
					},
					{
						"value": "Noto+Kufi+Arabic",
						"label": {
							"ar": "Noto Kufi",
							"en": "Noto Kufi"
						}
					},
					{
						"value": "Noto+Naskh+Arabic",
						"label": {
							"ar": "Noto Naskh",
							"en": "Noto Naskh"
						}
					},
					{
						"value": "Noto+Sans+Arabic",
						"label": {
							"ar": "Noto Sans",
							"en": "Noto Sans"
						}
					},
					{
						"value": "Noto+Nastaliq+Urdu",
						"label": {
							"ar": "Noto Nastaliq Urdu",
							"en": "Noto Nastaliq Urdu"
						}
					}
				],
				"default": "Changa"
			}
		}
	},
	"titlebg": {
		"name": {
			"ar": "خلفية عنوان القسم" ,
			"en": "Title background section"
		},
		"icon": "fa fa-paint-brush",
		"display": true,
		"settings": {
			"image": {
				"type": "image",
				"label": {
					"ar": "الصورة",
					"en": "Image"
				}
			}
		}
	},
     "stars": {
      "type": "fieldset",
      "name": {
        "ar": "اضافه صورة ايقون",
        "en": "add image icon"
      },
      "expandable": true,
      "settings": {
  	  "icon": {
		    "type": "image",
            "label": {
              "ar": "صورة الايقون تظهر في بعض الازرار",
              "en": "Icon image on some buttons"
            }
         }
	  }

     },
    "discount": {
		"type": "fieldset",
		"name": {
		"ar": "نافذة الخصم المثبتة",
		"en": "Pop-up discount window"
		},
		"expandable": true,
		"settings": {
		"is_popup": {
			"type": "checkbox",
			"label": {
			"ar": "تفعيل نافذة الخصم",
			"en": "Activate the discount window"
			}
		},
		"popup_img": {
			"type": "image",
			"label": {
			"ar": "الصور",
			"en": "the image"
			}
		},
		"popup_title": {
			"type": "text",
			"label": {
			"ar": "العنوان",
			"en": "title"
			}
		},
		"popup_percentage": {
			"type": "text",
			"label": {
			"ar": "نسبة الخصم",
			"en": "discount rate"
			}
		},
		"popup_subtitle": {
			"type": "text",
			"label": {
			"ar": "الوصف",
			"en": "description"
			}
		},
		"popup_placeholder": {
			"type": "text",
			"label": {
			"ar": "نص توضيحي في مكان ادخال البريد",
			"en": "Explanatory Text in Enter Mail"
			}
		},
		"popup_btn_title": {
			"type": "text",
			"label": {
			"ar": "نص الزر",
			"en": "button text"
			}
		},
		"action_url": {
			"type": "url",
			"label": {
			"ar": "رابط الفورم",
			"en": "form URL"
			}
		}
		}
		},"categorySideBanners": {
		"type": "fieldset",
		"name": {
			"ar": "وضع بنرات جانبيه في صفحة التصنيف",
			"en": "Place side banners on the category page"
		},
		"expandable": true,
		"settings": {
			"sideBanerCondetion": {
				"type": "checkbox",
				"label": {
					"ar": "اظهار البنرات الجانبيه في صفحه الاقسام",
					"en": "Show side banners on sections page"
				}
			},
			"sideBannerList": {
				"type": "list",
				"label": {
					"ar": "اضف البنرات الجانبيه",
					"en": "Add side banners"
				},
				"settings": {
					"mediaType": {
						"type": "select",
						"label": {
							"ar": "نوع الوسائط",
							"en": "Media Type"
						},
						"options": [
							{
								"value": "image",
								"label": {
									"ar": "صورة",
									"en": "Image"
								}
							},
							{
								"value": "video",
								"label": {
									"ar": "فيديو",
									"en": "Video"
								}
							}
						]
					},
					"sideBanerImage": {
						"type": "image",
						"label": {
							"ar": "الصوره",
							"en": "image"
						},
						"condition": {
							"field": "mediaType",
							"value": "image"
						}
					},
					"sideBanerVideoUrl": {
						"type": "text",
						"label": {
							"ar": "رابط الفيديو",
							"en": "Video URL"
						},
						"condition": {
							"field": "mediaType",
							"value": "video"
						}
					},
					"sideBanerTitle": {
						"type": "text",
						"label": {
							"ar": "عنوان البنر",
							"en": "banner Title"
						}
					},
					"sideBanerLink": {
						"type": "text",
						"label": {
							"ar": "نص الزر",
							"en": "button Text"
						}
					},
					"sideBanerLinkUrl": {
						"type": "url",
						"label": {
							"ar": "رابط الزر",
							"en": "link URL"
						}
					}
				}
			}
		}
	},
	"logo_card": {
		"name": {
			"ar": "اضافه لوجو او صوره على المنتج",
			"en": "add logo or img on product"
		},
		"settings": {
				"add_img_logo": {
                    "type": "radios",
                    "label": {
                      "ar": "اضافه لوجو المتجر",
                      "en": "Adding a logo "
                    },
                    "options": [
                      {
                        "value": "logo",
                        "label": {
                          "ar": "اضافه لوجو",
                          "en": "Add logo"
                        }
                      },
                      {
                        "value": "photo",
                        "label": {
                          "ar": "اضافه صوره",
                          "en": "Add photo"
                        }
                      },
                      {
                        "value": "anything",
                        "label": {
                          "ar": "الغاء التفعيل ",
                          "en": "Not adding anything"
                        }
                      }
                    ]
                },
                "product_img": {
                    "type": "image",
                    "label": {
                        "ar": "اضف صوره علي المنتج",
                        "en": "Add a picture to the card"
                    }
                },
                "logo_position": {
                    "type": "radios",
                    "label": {
                      "ar": "مكان الصوره او اللوجو",
                      "en": "image or logo position"
                    },
                    "options": [
                      {
                        "value": "top_right",
                        "label": {
                          "ar": "اعلي يمين",
                          "en": "top_right"
                        }
                      },
                      {
                        "value": "top_left",
                        "label": {
                          "ar": "اعلي يسار",
                          "en": "top_left"
                        }
                      },
                      {
                        "value": "bottom_right",
                        "label": {
                          "ar": "اسفل يمين",
                          "en": "bottom_right"
                        }
                      },
                      {
                        "value": "bottom_left",
                        "label": {
                          "ar": "اسفل يسار",
                          "en": "bottom_left"
                        }
                      }
                    ]
                }        
     }
	},
	"image_control": {
		"name": {
			"ar": "اظهار صورة المنتج كامله فى كارد المنتج",
			"en": "Show the full image of the product in the product card."
		},
		"settings": {
			"item": {
          "type": "checkbox",
          "option": {
            "ar": "تفعيل",
            "en": "Hide"
          },
          "noLabel": true
        }
		}
	},
	"android_store": {
		"name": {
			"ar": "لينك التطبيق android",
			"en": "link app android"
		},
		"settings": {
			"url": {
				"type": "text",
				"label": {
					"ar": "لينك",
					"en": "link"
				}
			}
		}
	},
	"mac_store": {
		"name": {
			"ar": "لينك التطبيق mac",
			"en": "link app mac"
		},
		"settings": {
			"url": {
				"type": "text",
				"label": {
					"ar": "لينك",
					"en": "link"
				}
			}
		}
	},
	"coupon": {
		"name": {
			"ar": "اخفاء كوبون الخصم في السلة",
			"en": "Show discount coupon in cart"
		},
		"settings": {
			"item": {
				"type": "checkbox",
				"label": {
					"ar": "كوبون الخصم",
					"en": "discount coupon"
				},
				"option": {
					"ar": "اخفاء كوبون الخصم",
					"en": "Show discount coupon",
				"noLabel": true
				}
			}
		}
	}
}
{% endschema %}

