<div style='background-color: #FAC2C3;' class="relative">

	<div style='padding: 15px !important;' class="newsletters  m-auto flex justify-start max-w-[1300px] items-center flex-wrap max-lg:justify-start gap-9 md:gap-6 px-5">
		<div class="flex items-center justify-between gap-4">
			<div class="flex items-center justify-center p-2 bg-white rounded-full w-14 h-14">
				<i class="fa-regular fa-envelope"></i>
			</div>
			<div class="flex flex-col gap-2">
				<h2 class="text-xl font-semibold ">{{ locals.sub_newsletter }}</h2>
				<p class="text-sm text-[#636363]">{{ locals.join_desc}}</p>
			</div>
		</div>
		<div id="mc_embed_shell" class="flex-col flex-1 w-full gap-5 felx">
			<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">


			<h2 style='margin-bottom: 12px; font-size: 12px;' class="text-[14px] text-sm font-medium">{{ locals.un_sub }}</h2>
			<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-newsletter flex items-center justify-start gap-2 validate" target="_blank">
				<div style='flex-grow: 1;' id="mc_embed_signup_scroll" class="flex flex-wrap items-center justify-between gap-2">
					<input type="email" name="EMAIL" id="mce-EMAIL" required="" value="" placeholder="{{ locals.email }}" class="email_button required email p-[10px] rounded-lg max-h-[48px] flex-1 border-none outline-none"/>
				</div>
				<div id="mce-responses" class="clear foot">
					<div class="w-0 h-0 overflow-hidden response" id="mce-error-response" style="display: none;"></div>
					<div class="w-0 h-0 overflow-hidden response" id="mce-success-response" style="display: none;"></div>
				</div>
				<div aria-hidden="true" style="display:none;">
					<input type="text" name="b_d7da51f96ed5732ca7c262453_979293c931" tabindex="-1" value="">
				</div>
				<div class="optionalParent">
					<div class="clear foot">
						<input style='background-color: var(--primary-color); padding: 6px 15px; margin: 0; cursor: pointer;' type="submit" name="subscribe" id="mc-embedded-subscribe" class="button py-[8px] text-white rounded-lg max-w-[90px] max-h-[48px] px-[16px]" value="{{ locals.sub }}">
					</div>
				</div>
			</form>

		</div>


		<div class="flex flex-col " style="position: relative;">
			<p class="pra_hide" style='margin-bottom: 14px;'>{{ locals.phones_apps }}</p>
			<div class="flex flex-wrap gap-4" style="position: relative; bottom: 7px">
				<a class='android-store'>
					<img src="https://cdn.salla.network/images/googleplay.png" alt="android">
				</a>
				<a class='mac-store'>
					<img src="https://cdn.salla.network/images/appstore.png" alt="mac">
				</a>
			</div>
		</div>
	</div>

	{# 121222 #}


	<div class="footer-store-section store-section footer-theme-bg-primary footer-theme-text-for-primary-bg" style=" padding: 15px 15px 0px 15px !important;">
		<div class="container">
			<div class="row my-5">
				<div class="col-12 col-lg-5" style="padding-right: 10px;padding-left: 10px;">
					<div class="footer-about-us-links-div footer-about-us-div">
						<h1 class="pb-2 font-bold">{{ about_settings.about_us_title }}</h1>
						<p>{{ about_settings.about_us_des | raw }}</p>
					</div>

					<div class="apps-if-newsletter-undifined hidden flex flex-col mt-5">
						<p class='apps-paragraph mb-3 text-lg'>{{ locals.phones_apps }}</p>
						<div class="flex gap-4">
							<a class='android-store'>
								<img src="https://cdn.salla.network/images/googleplay.png" alt="android" class="w-28 h-auto">
							</a>
							<a class='mac-store'>
								<img src="https://cdn.salla.network/images/appstore.png" alt="mac" class="w-28 h-auto">
							</a>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-7 container">
					<div class="row" style="margin-bottom: 20px !important ;">
						<div class="col-6 col-lg-3">
							{% if not (about_settings.links_1_hide) %}
								<div class="footer-about-us-links-div">
									<h1 class="pb-2 font-bold">{{ about_settings.links_1_title }}</h1>
									{% for link in about_settings.links_1_links %}
										<p>
											<a href="{{ link.url }}">{{ link.title }}</a>
										</p>
									{% endfor %}
								</div>
							{% endif %}
						</div>

						<div class="col-6 col-lg-3">
							{% if not (about_settings.links_2_hide) %}
								<div class="footer-about-us-links-div">
									<h1 class="pb-2 font-bold">{{ about_settings.links_2_title }}</h1>
									{% for link in about_settings.links_2_links %}
										<p>
											<a href="{{ link.url }}">{{ link.title }}</a>
										</p>
									{% endfor %}
								</div>
							{% endif %}
						</div>

						<div class="col-12 col-lg-3">
							<div class="media">
								<h1 class="font-bold">{{ locals.contact_us }}</h1>
								<div class="links_social">
									{% if store.social_media.items.phone %}
										<a href="tel:{{ store.social_media.items.phone }}" target="_blank">
											<i class="fa-solid fa-phone"></i>
										</a>
									{% endif %}
									{% if store.social_media.items.email %}
										<a href="mailto:{{ store.social_media.items.email }}" target="_blank">
											<i class="fa-solid fa-envelope"></i>
										</a>
									{% endif %}
									{% if store.social_media.items.website %}
										<a href="{{ store.social_media.items.website }}" target="_blank">
											<i class="icon-globe-secondary"></i>
										</a>
									{% endif %}
								</div>
								{% if store.business_location.show_location %}
									<div class="footer-about-us-links-div">
										<p class="pb-2">
											<a {% if store.business_location.lat %} target="_blank" href="https://maps.google.com/?q={{ store.business_location.lat }},{{ store.business_location.lng }}" {% endif %}>
												{{ store.business_location.street }}<br/>
												<i class="icon-map-marker-alt"></i>
												{{ store.business_location.country.name }},
												{{ store.business_location.city.name }},
												{{ store.business_location.district }},
												{{ store.business_location.street }}
											</a>
										</p>
									</div>
								{% endif %}

							</div>
						</div>

						<div class="col-12 col-lg-3">
							<div class="footer-about-us-links-div">
								<h1 class="pb-2 font-bold">{{ locals.social_media }}</h1>
								<div class="social-icons flex gap-3 flex-wrap">
									{% if store.social_media.items.facebook %}
										<a href="https://www.facebook.com/{{ store.social_media.items.facebook }}" target="_blank" style="padding:8px 10px">
											<i class="fa-brands fa-facebook-f"></i>
										</a>
									{% endif %}
									{% if store.social_media.items.instagram %}
										<a href="https://www.instagram.com/{{ store.social_media.items.instagram }}" target="_blank">
											<i class="fa-brands fa-instagram"></i>
										</a>
									{% endif %}
									{% if store.social_media.items.twitter %}
										<a href="https://twitter.com/{{ store.social_media.items.twitter }}" target="_blank">
											<i class="fa-brands fa-x-twitter"></i>
										</a>
									{% endif %}
									{% if store.social_media.items.snapchat %}
										<a href="https://www.snapchat.com/add/{{ store.social_media.items.snapchat }}" target="_blank">
											<i class="fa-brands fa-snapchat"></i>
										</a>
									{% endif %}
									{% if store.social_media.items.tiktok %}
										<a href="https://www.tiktok.com/@{{ store.social_media.items.tiktok }}" target="_blank">
											<i class="fa-brands fa-tiktok"></i>
										</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-img flex flex-col " style="position: relative; margin:20px 0px">
					<p style='margin-bottom: 14px;'>{{ locals.phones_apps }}</p>
					<div class=" flex flex-wrap gap-4" style="position: relative; bottom: 7px">
						<a class='android-store'>
							<img src="https://cdn.salla.network/images/googleplay.png" alt="android">
						</a>
						<a class='mac-store'>
							<img src="https://cdn.salla.network/images/appstore.png" alt="mac">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-copyrights-vat-certificate">
			<div class="container flex justify-between under_footer">
				<div class="d-flex justify-content-center align-items-center">
					<span class="text-center footer-copyrights">{{ store.copyrights | raw}}</span>
				</div>
				<div class="d-flex   flex-wrap align-items-center  footer-store-section-bars" style="border-bottom: 0px;">
					<div class="footer-icons">
						<div class="d-flex flex-row {% if store.apps.ios_app_id or store.apps.android_package_name%}justify-content-between{% else %}justify-content-center{% endif %} align-items-center flex-wrap icons-wrapper footer-store-section-bars">
							{% if store.apps.ios_app_id or store.apps.android_package_name%}
								<div class="icons social-apps-icons d-flex flex-wrap align-items-center">
									<div class="google-app-stores apps-social-icons d-flex justify-content-center">
										{% if store.apps.ios_app_id %}
											<a href="https://apps.apple.com/app/id{{ store.apps.ios_app_id }}" target="_blank">
												<img src="{{ asset_url ~ 'app-store.svg' }}" loading="lazy" alt="" width="115px" height="35px">
											</a>
										{% endif %}
										{% if store.apps.android_package_name %}
											<a href="https://play.google.com/store/apps/details?id={{ store.apps.android_package_name }}" target="_blank">
												<img src="{{ asset_url ~ 'google-play.svg' }}" loading="lazy" alt="" width="115px" height="35px">
											</a>
										{% endif %}
									</div>
								</div>
							{% endif %}
							<div class="icons w-full">
								<div class="logistics-pay-icons">
									{% for shipping_method in store.shipping_methods %}
										<a href="/shipping-and-payment" class="d-flex justify-content-center ">
											<img src="{{ imageUrl(shipping_method.icon,{ h: 80, q: 85 }) }}" loading="lazy" alt="" height="21">
										</a>
									{% endfor %}


									{% for payment_method in store.payment_methods %}
										<a href="/shipping-and-payment">
											<img src="{{ imageUrl(payment_method.icon,{ h: 80, q: 85 }) }}" loading="lazy" alt="" height="21">
										</a>
									{% endfor %}

								</div>
							</div>
						</div>
					</div>
					<div class="vat-crn-sections d-flex flex-row flex-wrap justify-content-end align-items-center">
						{% if store.vat_settings.is_certificate_visible %}
							<div class="vat-icon">
								<a {% if store.vat_settings.tax_registration_certificate %} href="{{ store.vat_settings.tax_registration_certificate }}" target="_blank" {% endif %}>
									<img src="{{ asset_url ~ 'vat-certificate.png' }}" loading="lazy" alt="" width="auto" height="40px">
								</a>
							</div>
						{% endif %}

						{% if store.social_media.items.business_center %}
							<div class="maroof-icon " style="text-align: center;">
							<a class="d-flex flex-column  align-items-center" href="https://eauthenticate.saudibusiness.gov.sa/inquiry?certificateRefID={{ store.social_media.items.business_center }}">
								<img
									src="{{ asset_url ~ 'business_center.png' }}" loading="lazy" alt="" width="auto" height="30" style="height:30px;">
									{% if about_settings.businessCenter_showNumber %}
										<div>{{ store.social_media.items.business_center }}</div>
									{% endif %}
							</a>
							</div>
						{% endif %}


						{# {% if store.social_media.items.business_center %}
							<div class="maroof-icon" style="margin-left: 30px;">
								<a href="[https://maroof.sa/{{ 'https://maroof.sa/%7B%7B'~ store.social_media.items.business_center }}" target="_blank">
									<img src="{{ asset_url ~ 'maroof.png' }}" loading="lazy" alt="" width="auto" height="30px">
								</a>
							</div>
						{% endif %} #}

						{% if store.vat_settings.vat_number %}
							<div class="vat-number">
								<span>{{ locals.footer_vat_number }}</span>
								<span>{{ store.vat_settings.vat_number }}</span>
							</div>
						{% endif %}

						{% if store.commercial_registration_number %}
							<div class="maroof-icon">
								<span>{{ locals.footer_commercial_registration_number }}</span>
								<span>{{ store.commercial_registration_number }}</span>
							</div>
						{% endif %}
					</div>


				</div>

			</div>
		</div>
	</div>
	<style>
		.android-store {
			display: none;
		}
		.mac-store {
			display: none;
		}
		.btn-img > p,
		.pra_hide {
			display: none;
		}
	</style>
