<div class="relative bg-[var(--s-color)] py-8">
	<div class=" m-auto flex justify-start max-w-[1300px] items-center flex-wrap max-lg:justify-start gap-9 md:gap-6 px-5">
			<div class="flex items-center justify-between gap-4" >
					<div class="flex items-center justify-center p-2 bg-white rounded-full w-14 h-14">
							<i class="sicon-mail text-[24px] text-[var(--f-color)]"></i>
					</div>
					<div class="flex flex-col gap-2">
							<h2 class="text-xl font-semibold ">{{ locals.sub_newsletter }}</h2>
							<p class="text-sm text-[#636363]">{{ locals.join_desc}}</p>
					</div> 
			</div>
			<div id="mc_embed_shell" class="flex-col flex-1 w-full gap-5 felx" >
					<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">


			<h2 class="mb-[2px] text-[14px] text-sm font-medium">{{ locals.un_sub}}</h2>
			<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="flex items-center justify-start gap-2 validate" target="_blank">

                <div id="mc_embed_signup_scroll" class="flex flex-wrap w-[83%] items-center justify-start gap-2">
                    <input type="email" name="EMAIL" id="mce-EMAIL" required="" value="" placeholder="{{ locals.email }}" class="email_button required email p-[10px] rounded-lg max-h-[48px] flex-1 border-none outline-none"/>
                </div>
                <div id="mce-responses" class="clear foot">
                    <div class="w-0 h-0 overflow-hidden response" id="mce-error-response" style="display: none;"></div>
                    <div class="w-0 h-0 overflow-hidden response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div aria-hidden="true" style="display:none;">
                    =
                    <input type="text" name="b_d7da51f96ed5732ca7c262453_979293c931" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button py-[8px] bg-[var(--f-color)] text-white rounded-lg max-w-[90px] max-h-[48px] px-[16px]" value="{{ locals.sub }}">
                    </div>
                </div>
            </form>

			</div>
			<div class="flex flex-col gap-4" >
					<div class="flex flex-wrap">

					</div>
			
	</div>
</div>
<div class="footer-store-section store-section footer-theme-bg-primary footer-theme-text-for-primary-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="footer-about-us-links-div footer-about-us-div">
                    <h1 class="pb-2">{{ about_settings.about_us_title }}</h1>
                    <p>{{ about_settings.about_us_des | raw }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        {% if not (about_settings.links_1_hide) %}
                            <div class="footer-about-us-links-div">
                                <h1 class="pb-2">{{ about_settings.links_1_title }}</h1>
                                {% for link in about_settings.links_1_links %}
                                    <p><a href="{{ link.url }}">{{ link.title }}</a></p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-lg-4">
                        {% if not (about_settings.links_2_hide) %}
                            <div class="footer-about-us-links-div">
                                <h1 class="pb-2">{{ about_settings.links_2_title }}</h1>
                                {% for link in about_settings.links_2_links %}
                                    <p><a href="{{ link.url }}">{{ link.title }}</a></p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-lg-4">
                        {% if store.business_location.show_location %}
                        <div class="footer-about-us-links-div">
                            <h1 class="pb-2">{% if about_settings.business_location_title %}{{ about_settings.business_location_title }}{% else %}{{ locals.business_location }}{% endif %}</h1>
                            <p>
                                <a {% if store.business_location.lat %} target="_blank" href="https://maps.google.com/?q={{ store.business_location.lat }},{{ store.business_location.lng }}" {% endif %}>
                                    {{ store.business_location.street }}<br/>
                                    <i class="icon-map-marker-alt"></i> {{ store.business_location.country.name }}, {{ store.business_location.city.name }}, {{ store.business_location.district }}, {{ store.business_location.street }}
                                </a>
                            </p>
                        </div>
                        {% endif %}
                        <div  class="footer-about-us-links-div {% if store.business_location.show_location %}mt-5{% endif %}">
                            <h1 class="pb-2">{% if about_settings.social_media_title %}{{ about_settings.social_media_title }}{% else %}{{ locals.social_media }}{% endif %}</h1>
                            <div class="social-icons d-flex flex-wrap">
                                <div class="contact">
                                    {% if store.social_media.items.phone %}
                                    <a href="tel:{{ store.social_media.items.phone }}" target="_blank">
                                        <i class="fa-solid fa-phone  d-flex align-items-center justify-content-center"></i>
                                    </a>
                                    {% endif %}

																	{% if store.social_media.items.email %}
																			<a href="mailto:{{ store.social_media.items.email }}" target="_blank">
																					<i class="fa-solid fa-envelope  d-flex align-items-center justify-content-center"></i>
																			</a>
																	{% endif %}

                                    {% if store.social_media.items.website %}
                                        <a href="{{ store.social_media.items.website }}" target="_blank">
                                            <span class="icon-globe-secondary d-flex align-items-center justify-content-center"></span>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="media">
                                    {% if store.social_media.items.facebook %}
                                        <a href="https://www.facebook.com/{{ store.social_media.items.facebook }}" target="_blank">
                                            <i class="fa-brands fa-facebook-f d-flex align-items-center justify-content-center"></i>
                                        </a>
                                    {% endif %}

																	{% if store.social_media.items.instagram %}
																			<a href="https://www.instagram.com/{{ store.social_media.items.instagram }}" target="_blank">
																					<i class="fa-brands fa-instagram d-flex align-items-center justify-content-center"></i>
																			</a>
																	{% endif %}

																	{% if store.social_media.items.twitter %}
																			<a href="https://twitter.com/{{ store.social_media.items.twitter }}" target="_blank">
																					<i class="fa-brands fa-x-twitter d-flex align-items-center justify-content-center"></i>
																			</a>
																	{% endif %}

																	{% if store.social_media.items.snapchat %}
																			<a href="https://www.snapchat.com/add/{{ store.social_media.items.snapchat }}" target="_blank">
																					<i class="fa-brands fa-snapchat  d-flex align-items-center justify-content-center"></i>
																			</a>
																	{% endif %}

                                    {% if store.social_media.items.tiktok %}
                                        <a href="https://www.tiktok.com/@{{ store.social_media.items.tiktok }}" target="_blank">
                                            <i class="fa-brands fa-tiktok  d-flex align-items-center justify-content-center"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-companies">
	<div class="container">
			<div class="footer-icons">
					<div class="d-flex flex-row {% if store.apps.ios_app_id or store.apps.android_package_name%}justify-content-between{% else %}justify-content-center{% endif %} align-items-center flex-wrap icons-wrapper footer-store-section-bars">
							{% if store.apps.ios_app_id or store.apps.android_package_name%}
							<div class="icons social-apps-icons d-flex flex-wrap align-items-center">
									<div class="google-app-stores apps-social-icons d-flex justify-content-center">
											{% if store.apps.ios_app_id %}
													<a href="https://apps.apple.com/app/id{{ store.apps.ios_app_id }}" target="_blank">
															<img src="{{ asset_url ~ 'app-store.svg' }}" loading="lazy" alt="" width="115" height="35">
													</a>
											{% endif %}
											{% if store.apps.android_package_name %}
													<a href="https://play.google.com/store/apps/details?id={{ store.apps.android_package_name }}" target="_blank">
															<img src="{{ asset_url ~ 'google-play.svg' }}" loading="lazy" alt="" width="115" height="35">
													</a>
											{% endif %}
									</div>
							</div>
							{% endif %}
							<div class="icons">
									<div class="logistics-pay-icons d-flex flex-wrap justify-content-center">
											{% for shipping_method in store.shipping_methods %}
													<a href="/shipping-and-payment">
															<img src="{{ imageUrl(shipping_method.icon,{ h: 80, q: 85 }) }}" loading="lazy" alt="" height="21">
													</a>
											{% endfor %}


											{% for payment_method in store.payment_methods %}
													<a href="/shipping-and-payment">
															<img src="{{ imageUrl(payment_method.icon,{ h: 80, q: 85 }) }}" loading="lazy" alt="" height="21">
													</a>
											{% endfor %}

									</div>
							</div>
					</div>
			</div>
	</div>
</div>
<div class="footer-copyrights-vat-certificate">
	<div class="container">
			<div class="d-flex flex-column-reverse flex-lg-row flex-wrap align-items-center justify-content-between footer-store-section-bars" style="border-bottom: 0px;">
					<div class="d-flex justify-content-center align-items-center">
							<span class="text-center footer-copyrights">{{ store.copyrights | raw}}</span>
					</div>
					<div class="vat-crn-sections py-4 d-flex flex-row flex-wrap justify-content-end align-items-center">
							{% if store.vat_settings.is_certificate_visible %}
									<div class="vat-icon">
											<a {% if store.vat_settings.tax_registration_certificate %}href="{{ store.vat_settings.tax_registration_certificate }}"  target="_blank"{% endif %} >
													<img src="{{ asset_url ~ 'vat-certificate.png' }}" loading="lazy" alt="" width="auto" height="40">
											</a>
									</div>
							{% endif %}

							{% if store.social_media.items.maroof %}
									<div class="maroof-icon">
											<a {% if store.social_media.items.maroof %}href="{{ store.social_media.items.maroof }}"  target="_blank"{% endif %} >
													<img src="{{ asset_url ~ 'maroof.png' }}" loading="lazy" alt="" width="auto" height="30">
											</a>
									</div>
							{% endif %}

							{% if store.vat_settings.vat_number %}
									<div class="vat-number">
											<span>{{ locals.footer_vat_number }}</span>
											<span>{{ store.vat_settings.vat_number }}</span>
									</div>
							{% endif %}

							{% if store.commercial_registration_number %}
									<div class="maroof-icon">
											<span>{{ locals.footer_commercial_registration_number }}</span>
											<span>{{ store.commercial_registration_number }}</span>
									</div>
							{% endif %}
					</div>
			</div>

	</div>
</div>
