<div class="d-flex align-items-center justify-content-between products-filter flex-column flex-lg-row">
    <div class="d-flex filter-buttons-container flex-column flex-lg-row mb-3 mb-lg-0">
        <div class="product_shap d-flex align-items-center justify-content-between gap-3 p-2 border border-secondary rounded" style="width: 100%; max-width: 400px; height: 56px;align-items: center;border: 1px solid #b2bdc7 !important;border-radius: 8px !important; margin: 0px !important;">
            <div>
                <label class="filter-result d-none">{{ locals.products_list_filter }}</label>
            </div>

            <!-- Small screen filter button -->
            <button id="products-list-filter" type="button" class="btn btn-filter d-lg-none w-100 text-left" data-toggle="collapse" data-target="#filters-form-collapse-sm" style="height: 33px;">
                <span>{{ locals.products_list_filter }}</span>&nbsp;
                <i class="icon-add filter-icons filters_expanded"></i>
                <i class="icon-remove filter-icons filters_not_expanded d-none"></i>
                <i class="fa-solid fa-filter"></i>
            </button>

            <!-- Large screen filter button -->
            <button id="products-list-filter" type="button" class="btn btn-filter d-none d-lg-flex align-items-center" data-toggle="modal" data-target="#filterModal" style="height: 30px; border: 1px #B6B6B6 solid; border-radius: 8px;">
                <span>{{ locals.products_list_filter }}</span>&nbsp;
                 <i class="fa-solid fa-filter"></i>
                 <i class="icon-filter-secondary" aria-hidden="true"></i>
            </button>

            <div class="d-flex align-items-center gap-2">
                <i class="fa-solid fa-table-cells border border-light rounded p-2 cursor-pointer vr_hr_active" data-display="vertical"></i>
                <i class="fa-solid fa-bars border border-light rounded p-2 cursor-pointer d-none d-lg-inline" data-display="horizontal"></i>
            </div>

            <div class="dropdown">
                
                <label class="filter-order text-muted mb-0">{{ locals.products_list_sort }}</label>
                <button id="products-list-sort" type="button" class="btn btn-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="border: none;padding: 0 !important;">
                    {# <span style="font-size: 14px;">{{ sort_option }}</span>&nbsp; #}
                      
                        <span style="font-size: 14px;">
                        {% if requestGet('sort_by') == 'popularity_order' %}
                            {{ locals.products_list_filter_popularity }}
                        {% elseif requestGet('sort_by') == 'price' and requestGet('order') == 'asc' %}
                            {{ locals.products_list_filter_price_low }}
                        {% elseif requestGet('sort_by') == 'price' and requestGet('order') == 'desc' %}
                            {{ locals.products_list_filter_price_high }}
                        {% else %}
                            {{ locals.products_list_filter_latest }}
                        {% endif %}
                          <i class="fa-solid fa-caret-down"></i>
                    </span>&nbsp;
                    
                </button>
                <div class="dropdown-menu select-dropdown">
                    <a class="dropdown-item" href="{{ requestAdd({sort_by: 'created_at', order: 'desc'}) }}">
                        {{ locals.products_list_filter_latest }}
                    </a>
                    <a class="dropdown-item" href="{{ requestAdd({sort_by: 'popularity_order', order: 'asc'}) }}">
                        {{ locals.products_list_filter_popularity }}
                    </a>
                    <a class="dropdown-item" href="{{ requestAdd({sort_by: 'price', order: 'asc'}) }}">
                        {{ locals.products_list_filter_price_low }}
                    </a>
                    <a class="dropdown-item" href="{{ requestAdd({sort_by: 'price', order: 'desc'}) }}">
                        {{ locals.products_list_filter_price_high }}
                    </a>
                </div>
               
            </div>
        </div>
    </div>

    <!-- Products Count Display -->
    <div class="d-none d-lg-inline-block text-color-primary" style=" width: 11%;">
        {% if count > 0 %}
            <span>{{ locals.products_list_result }}&nbsp;</span>
            <span class="font-weight-bold">{{count}}&nbsp;</span>
            <span>{{ locals.products_list_result_products }}</span>
        {% else %}
            <span class="font-weight-bold">{{ locals.products_list_empty }}&nbsp;</span>
        {% endif %}
    </div>
</div>

<!-- Collapsible Filter Form for Small Screens -->
<div id="filters-form-collapse-sm" class="collapse mt-3">
    {% include 'products-filter-form.twig' %}
</div>

<!-- Filter Modal for Large Screens -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body position-relative">
                <button id="products-list-filter-form-close" type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                    <span class="icon-times2"></span>
                </button>
                {% include 'products-filter-form.twig' %}
            </div>
        </div>
    </div>
</div>

<!-- Script for Handling Display Mode Switch -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const productShapes = document.querySelectorAll('.product_shap i');
        const productList = document.querySelector('.products #products-list');

        productShapes.forEach(productShape => {
            productShape.addEventListener('click', function (event) {
                const clickedIcon = event.target;
                const displayValue = clickedIcon.dataset.display;

                productList?.classList.remove('vertical', 'horizontal');
                productList?.classList.add(displayValue);

                productShapes.forEach(icon => icon.classList.remove('vr_hr_active'));
                event.target.classList.add('vr_hr_active');
            });
        });
    });
</script>

<!-- Responsive Styling -->
<style>

     .product_shap .dropdown {
      display: flex;
      align-items: center;
      gap: 16px;

    }
    .product_shap {
         max-width: 500px !important;
    }
    .product_shap i{
        border-radius: 8px;
    }
    #products-list-filter {
        height: 35px;
        width: 100%;
        max-width: 160px !important;
        
    }
    @media (max-width: 768px) {
        .products-filter {
            flex-direction: column;
        }
        .filter-buttons-container {
            width: 100%;
        }
        .product_shap {
            width: 100%;
        }
      #products-list-filter {
        max-width: 140px !important;

    }
    .form-products-filter{
        padding: 10px;
    }
    }
    @media (min-width: 769px) {
        .products-filter {
            flex-direction: row;
        }
        .filter-buttons-container {
            /* width: auto; */
            width: 100%;
        }
    }
    @media (max-width:767px) {
    .products-list {
         grid-template-columns: repeat(2, minmax(150px, 1fr));
         width: 100%;
    }
}    
@media (max-width:345px) {
    .products-list {
        grid-template-columns: repeat(1, 1fr); 
         width: 100%;
    }
}
</style>
