{% extends "layout.twig" %}

{% block header %}
	{{ include('header.twig') }}
{% endblock %}

{% block main_content %}

	{% embed 'breadcrumb.twig' %}
		{% block breadcrumb_items %}
			<li class="breadcrumb-item" aria-current="page">
				<a href="/">{{ locals.home_title }}</a> 
			</li>
			<li class="breadcrumb-item active " aria-current="page">{{ locals.products_title }}</li>
		{% endblock %}
	{% endembed %}


	<div class="container d-flex flex-row">
		{% if  products.filters|length > 0 %}
			<div class="d-flex flex-column">
				{% include 'template_for_products_attributes' %}
				<div class="d-flex justify-content-end attributes-submit" style="padding-inline-end: 25px">
					<button type="button" onclick="document.getElementById('attribute_form').submit()" class="highlight-button btn btn-sm" data-abc="true">تطبيق</button>
				</div>
			</div>
		{% endif %}
		<div class="products-container products flex-grow-1 pt-4">
			{% if settings.categorySideBanners_sideBanerCondetion  %}
				<div class="side-banners">
					{% for banner in settings.categorySideBanners_sideBannerList %}
						<div class="banner-item">
							<a href="{{banner.sideBanerLinkUrl}}" class="containt">
								<h3>
									{{ banner.sideBanerTitle}}
								</h3>
								<p>{{banner.sideBanerLink}}</p>
							</a>
							<img src="{{ banner.sideBanerImage }}" alt="{{ banner.title }}">
						</div>	
					{% endfor %}
				</div>
			{% endif %}
			
			<div class="products-area">
				{% if  products.filters|length <= 0 %}
					<div>
						{% include 'products-filter.twig' with { 'count' : products.total, 'has_products_filtration': ( products.filters|length > 0) } %}
					</div>
					{% if  products.total <= 0 %}
					<div class="w-100 d-flex justify-content-center align-items-center flex-column" style="padding: 5rem;">
						<img src="{{ asset_url ~ 'emptysalla.png' }}" loading="lazy" alt="" width="auto" height="auto">
						<div class="mt-4">
							<h3>{{locals.noproducts}}</h3>
							<p>{{locals.noproducts_desc}}</p>
					   </div>
				   </div>
					{% endif %}
					

				{% endif %}
				{# hussein-row>grid #}
				<div id="products-list" class="grid  grid-cols-3 products-list vertical">
					{% for product in products.data %}
	
						<div class="prod-col {% if products.filters|length > 0 %}prod-col-attr{% endif %} prod-col-tb">
							{% include 'product-card.twig' with {'product' : product, 'index': key, 'pr_settings':settings} %}
						</div>
	
					{% endfor %}
						
				</div>
			</div>
		</div>
	</div>

	{% include 'pagination.twig' with { 'totalPages' : products.last_page , 'currentPage' : products.current_page } %}

		<style>
			#products-list .salla{
				display: flex;
				justify-content: center;
			}
			.products-container{
				display: flex;
			}
			.side-banners{
				flex-basis: 20%;
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
			.side-banners .banner-item {
				position: relative;
				border-radius: 8px;
				overflow: hidden;
			}
			.side-banners .banner-item .containt{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #0000003b;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				opacity: 0;
				transition: all ease-in-out 0.3s;
			}
			.side-banners .banner-item .containt:hover{
				opacity: 1;
			}

			.side-banners .banner-item .containt h3{
				color: var(--primary-color);
					text-align: center;
					font-size: 28px;
					font-weight: 600;
					line-height: 38.5px;
			}
			.side-banners .banner-item .containt p{
				color: var(--text-color-primary-bg);
				font-size: 28px;
				font-weight: 700;
			}
			
			{% if settings.categorySideBanners_sideBanerCondetion  %}
				.products-area{
					flex-basis: 78%;
				}
			{% else %}
				.products-area{
					flex-basis:100%;
				}
			{% endif %}
			@media (max-width: 992px){
				.side-banners{
					display: none;
				}
				.products-area{
				flex-basis: 100%;
			}
			}
		</style>
{% endblock %}

{% block footer %}
	{{ include('footer.twig') }}
{% endblock %}
