{% extends "layout.twig" %}

{% block header %}
	{{ include('header.twig') }}
{% endblock %}

{% block top_links %}
	<link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'toastr.min.css' }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'ekko-lightbox.css' }}"/>

	<link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'photoswipe.css' }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'default-skin.css?v=1.02' }}"/>

	<link rel="stylesheet" type="text/css" href="{{ assetUrl('product-details.css') }}"/>

	<style>
.slider-inspire .swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider-inspire .swiper-button-next,
.slider-inspire .swiper-button-prev {
	color: var(--primary-color) !important;
  position: absolute;
  top: 50%;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
}

.slider-inspire .swiper-button-next::after,
.slider-inspire .swiper-button-prev::after {
	font-size: 24px !important;
}

.slider-inspire .swiper-button-next {
  right: 10px;
}
.slider-inspire .swiper-button-prev {
  left: 10px;
}

		.pswp__button,
		.pswp__button--arrow--left:before,
		.pswp__button--arrow--right:before {
			background: url({{ asset_url }}default-skin.png) 0 0 no-repeat;
		}

		@media(-webkit-min-device-pixel-ratio: 1.1),
		(-webkit-min-device-pixel-ratio: 1.09375),
		(min-resolution: 105dpi),
		(min-resolution: 1.1dppx) {
			/* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
			.pswp--svg .pswp__button,
			.pswp--svg .pswp__button--arrow--left:before,
			.pswp--svg .pswp__button--arrow--right:before {}

		}

		.pswp__preloader--active .pswp__preloader__icn {
			/* We use .gif in browsers that don't support CSS animation */
			background: url({{ asset_url }}preloader.gif) 0 0 no-repeat;
		}


		.d-hide {
			visibility: hidden;
			position: absolute;
		}

		.pswp__button.pswp__button--share {
			display: none !important;
		}

		.pswp img {
			max-width: none;
			object-fit: contain;
		}

		.d-none-important {
			display: none !important;
		}
	</style>
{% endblock %}

{% block top_body %}
	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div
		class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<!-- Background of PhotoSwipe.
		It's a separate element, as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>

		<!-- Slides wrapper with overflow:hidden. -->
		<div
			class="pswp__scroll-wrap">

			<!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
			<div
				class="pswp__container">
				<!-- don't modify these 3 pswp__item elements, data is added later on -->
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
			<div class="pswp__ui pswp__ui--hidden">

				<div
					class="pswp__top-bar">

					<!--  Controls are self-explanatory. Order can be changed. -->

					<div class="pswp__counter"></div>

					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

					<button class="pswp__button pswp__button--share" title="Share"></button>

					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

					<!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
					<!-- element will get class pswp__preloader--active when preloader is running -->
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>

				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>

			</div>

		</div>

	</div>
{% endblock %}

{% block main_content %}

	<section class="product products-details-page">
		<div class="container pb-5">
			<section class="mb-5 products-details">
				<div>
					<div class="row">

  <div class="slide-product col-lg-6">
    <!-- Carousel -->
    <!-- Main Swiper -->
    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
        <div class="swiper-wrapper">
	
            {% for key, image in product.selected_product.images %}
                <div class="swiper-slide">
                    <img src="{{ image.image.full_size }}" class="carousel-img" alt="{{ product.name }}" loading="lazy">
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <!-- Thumbnail Swiper -->
    <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper allsmallimages ">
            {% for key, image in product.selected_product.images %}
                <div class="swiper-slide small_images">
                    <img src="{{ image.image.medium }}" data-index="{{ key }}" loading="lazy" class="thumbimagee">
                </div>
            {% endfor %}
        </div>
    </div>
	
						</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

						<div class="col-lg-6  col-product-info {% if product.selected_product.images | length <= 1 %}col-product-info-single-image{% endif %}">


							<section class="sec_des">
								<h1 class ="text-[24px] font-bold leading-[147%]">{{ product.name }}</h1>
								<div class="d-flex flex-column flex-lg-row product-features">
									{% if product.rating %}
										<div>
											{% include 'rating-stars.twig' with {'rating' : product.rating.average } %}
											<span class="product-card-rating-count">({{ product.rating.total_count }})</span>
										</div>
									{% endif %}

									{% if product.sold_products_count %}
										<div class="product-count d-flex align-items-center">
											<span class="icon-military_tech" style="color: #FFCF57; font-size: 16px"></span>&nbsp;
											<span class="lang">{{ locals.product_sold_more_than_x_times | format(product.sold_products_count) }}</span>
										</div>
									{% endif %}


									{% if product.low_stock_quantity %}
										<div class="low-quantity-section d-inline-block">
											<span class="icon-flag_black" style="color: #EC5550; font-size: 16px"></span>&nbsp;
											<span class="low-quantity">{{ locals.product_cart_quantity_low_stock | format(product.low_stock_quantity) }}</span>
										</div>
									{% endif %}

									{% if product.bundle_offer %}
										<div class="bundle-offer-section">
											<span class="icon-gift" style="color: red; font-size: 14px"></span>&nbsp;
											<span class="bundle-offer-title">{{ product.bundle_offer.name }}</span>
										</div>
									{% endif %}


								</div>

								{% if product.short_description is not empty %}
									<p>
										{{ product.short_description | raw }}
										&nbsp;<a id="product-description-a" href="#product-description" class="text-[16px] font-medium leading-[25px]">{{ locals.product_description_more }}</a>
									</p>
								{% endif %}
								<div class="d-flex">
									<div class="d-flex items-baseline gap-[12px] mt-[16px]">
										<h1 class="product-formatted-price text-[24px] font-bold leading-[147%]" style="color: var(--primary-color);">
											{% if product.selected_product.formatted_sale_price %}
												{{ product.selected_product.formatted_sale_price }}
											{% else %}
												{{ product.selected_product.formatted_price }}
											{% endif %}
										</h1>
										<p>
											<del class="product-formatted-price-old">
												{% if product.selected_product.formatted_sale_price %}
													{{ product.selected_product.formatted_price }}
												{% endif %}
											</del>
											<span class="product-formatted-price-discount" style="color:#f25f5f;">
												{% if product.selected_product.formatted_sale_price %}
													&nbsp;  &nbsp;{{ locals.product_discount }}&nbsp;{{ product.discount_percentage }}%
												{% endif %}
											</span>
										</p>
									</div>

								</div>
								{# conut logic #}
                                {% if store.is_low_stock_label_enabled %}
                                    {% if product.quantity is not null and product.quantity <= store.low_stock_quantity_limit %}
                                        <div class="number_products font-bold" style="color:#4D4D4D; margin-bottom:7px; font-size:25px;"> 
                                            {{ locals.txtOne }} {{ product.quantity }} {{ locals.txtTwo }}
                                        </div>

                                        <div style="height:6px; width:426px; background-color:#F2F2F2; border-radius:6px; position:relative;">
                                            <div style="background-color:#FF3B30; height:100%; border-radius:6px; position:absolute; right:0;
                                                width: calc( {{ 100 * product.quantity / store.low_stock_quantity_limit }}% );">
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
								
							</section>


							<div class="border-product"></div>
							{# <div style="margin-bottom: 25px" class="div-product-sku {% if not product.selected_product.sku %}d-none{% endif %}">
								<h4 class="product-title">{{ locals.product_sku }}</h4>
								<div class="product-sku">
									{{ product.selected_product.sku }}
								</div>
							</div> #}

							<div style="margin-bottom: 25px" class="div-product-weight {% if not product.selected_product.weight.value %}d-none{% endif %}">
								<h4 class="product-title">{{ locals.product_weight }}</h4>
								<div class="product-weight">
									{{ product.selected_product.weight.value }}&nbsp;{{ product.selected_product.weight.unit }}
								</div>
							</div>

							<form id="product-form">
								<input id="product-id" type="hidden" value="{{ product.selected_product.id }}">

								<div class="size-box g-custom-size-box">

									{{ template_for_product_variants_list }}

									<!-- new custom fields update -->
									{% if product.has_custom_input_fields  %}
										<div class="border-product" style="margin-top: 25px"></div>
										{{ template_for_product_custom_input_fields }}
									{% endif %}
								</div>

								{% if product.selected_product.is_infinite or product.selected_product.quantity > 0 %}
									<div class="border-product" style="margin-top: 15px"></div>
									<div class="select-quantity-div">
										<h4 class="product-title">{{ locals.product_cart_quantity }}</h4>
										<div class="form-group">
											<div>
												<select id="product-quantity" name="quantity" class="select-quantity">
													{% if product.selected_product.is_infinite or product.selected_product.quantity > 100 %}
														{% set maxQuantity = 100 %}
													{% else %}
														{% set maxQuantity = product.selected_product.quantity %}
													{% endif %}

													{% for n in rangeN(1, maxQuantity) %}
														<option value="{{ n }}" {% if n == 1 %} selected {% endif %}>{{ n }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
								{% endif %}

								<div class="section-out-of-stock-notify-me {% if product.selected_product.out_of_stock %}d-block{% else %}d-none{% endif %}">
									<div class="border-product" style="margin-top: 15px"></div>
									<div>
										<h4 class="product-title ">{{ locals.lbl_error_product_out_of_stock }}</h4>
										<form>
											<div class="form-group form-notify-me">
												<h4 style="margin-bottom: 1rem;">{{ locals.notify_me_title }}</h4>
												<div class="d-flex">
													<input type="hidden" class="send-notify-product-id" value="{{ product.selected_product.id }}">
													<input class="form-control send-notify-email" type="email" placeholder="{{ locals.notify_me_hint }}"/>
													<button type="button" class="btn btn-primary btn-send-notify" onclick="sendProductNotifyMe()">
														<img class="send-notify-progress d-none" src="{{ asset_url }}spinner.gif" width="15px" height="15px"/>
														{{ locals.send }}
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>


							</form>
							
							<div class="product-buttons{% if product.selected_product.out_of_stock %}d-none{% else %}{% endif %}">
								<div class="border-product "></div>
								<button id="product-view-add-to-cart" style="margin-bottom: 20px" class="btn btn-add-to-cart" type="button" onclick="productAddToCart()">
							        <img class="add-to-cart-progress d-none" src="{{ asset_url }}spinner.gif" width="25px" height="25px"/>
									<i class="fa fa-shopping-cart me-1" aria-hidden="true"></i>
									<span>{{ locals.add_to_cart }}</span>
								</button>
								
								<div>
                                    {{ template_for_product_apple_pay_button }}
                                </div>

							</div>

							<div class="border-product"></div>
							<div class="flex justify-between border-product">
								<h4 class="product-title">{{ locals.product_share }}</h4>
								<div class="product-icon">
									<div class="product-social d-flex">
										<a href="https://www.facebook.com/sharer/sharer.php?u={{ product.html_url }}" target="_blank">
											<i class="fa-brands fa-facebook-f"></i>
										</a>
										<a href="https://www.pinterest.com/pin/create/button/?url={{ product.html_url }}" target="_blank">
											<i class="fa-brands fa-pinterest"></i>
										</a>
										<a href="https://twitter.com/intent/tweet?text={{ product.name }}: {{ product.html_url }}" target="_blank">
											<i class="fa-brands fa-x-twitter"></i>
										</a>
										<a href="https://api.whatsapp.com/send?text={{ locals.check_out_this_product }}:{{ product.name }} {{ product.html_url }}" target="_blank">
											<i class="fa-brands fa-whatsapp"></i>
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>


			{% if product.bundle_offer %}
				<section class="mt-5 bundle-offer-details-section">
					<div class="d-flex align-items-center">
						<div class="description-icon">
							<span= class="icon-gift"></span=
						</div>
						<div class="description-title">
							<div class="bundle-offer-title">{{ product.bundle_offer.name }}</div>
							<div class="bundle-offer-title-description">{{ product.bundle_offer.description }}</div>
						</div>
					</div>
					<div class="description-paragrah">
						<div class="bundle-offer-products">
							<div class="row bundle-offer-details-products">
								{% for key, product in product.bundle_offer.products.results | slice(0, 5) %}
									<div class="prod-col prod-col-tb">
										{% include 'product-card.twig' with {'product' : product, 'index': key, 'pr_settings':settings } %}
									</div>
								{% endfor %}
							</div>
						</div>
						{% if product.bundle_offer.products.results | length > 5 %}
							<div class="bundle-offer-more">
								<a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">{{ locals.bundle_offer_all_products }}</a>
							</div>
						{% endif %}
					</div>
				</section>
			{% endif %}
			<style>
				.allsmallimages{
					align-items: center;
					justify-content: space-between;
					gap:10px
				}
				.thumbimagee{
					height: 100px;
				}
				.slide-product{
					display: flex;
					flex-direction: row-reverse;
					padding: 0 !important;
					align-items: center;
					gap:5px;
					margin-bottom: 25px;
					height: 55vh;
				}
				.sec_des p span{
					font-size:16px;
					font-weight: 400;
					line-height:25px;
				}
				.g-custom-size-box div label {
					font-size:16px;
					font-weight: 500;
					line-height:25px;

				}
				.slide-product .swiper-slide {
					background-size: cover;
					background-position: center;
					height: 100%;
                    max-height: 400px;
					width: 100%;
				}

				.slide-product .mySwiper2 {
					height: 100%;
					width: 100%;
				}

				.slide-product .mySwiper {
					height:100%;
					box-sizing: border-box;
					padding: 2px 0;   
					width: 30%;
					margin-top: 20px;  
					overflow-y: scroll ;
					-ms-overflow-style: none;  
  					scrollbar-width: none;
				       }
              	          	.slide-product .mySwiper::-webkit-scrollbar {
					display: none;
				       }

					/* Track */
					.slide-product .mySwiper::-webkit-scrollbar-track {
				    	background: transparent;
					}

					/* Handle */
					.slide-product .mySwiper::-webkit-scrollbar-thumb {
				    	background: transparent;
					}
				.slide-product .mySwiper .swiper-slide {
					width: unset !important;
					height: fit-content !important;
					opacity: 0.4;
					margin: 0 !important;
				}

				.slide-product .mySwiper .swiper-slide-thumb-active {
					opacity: 1;
				}
                   .products-details-page .lg-thumbs img, .carousel-img{
					height: 100%;
				   }

				#abas {
					margin: 0;
					padding: 0;
				}
				#abas li {
					display: inline-block;
					border-bottom: none;
					background-color: #EEEEEE;
				}
				#abas li a {
					padding: 10px 20px;
					display: block;
					text-decoration: none;
					color: #000000;
					background-color: var(--newsletter-color-bg) !important;
					font-size:16px;
					font-weight:bold;
					line-height:auto;
				}
				#abas li.selecionada {
					background-color: var(--primary-color);
					position: relative;
					top: 1px;
					font-weight: bold;
				}
				#abas li.selecionada a {
					padding-top: 11px;
					background: var(--primary-color);
					color: #fff;
					font-size:16px;
					font-weight:bold;
					line-height:auto;
				}
				.conteudo {
					display: block;
					padding: 10px;
					display: none;
				}
				.conteudo.visivel {
					display: block;
				}
				.cont-table{
					border-top:1px solid var(--primary-color);
				}

				#product-description-a{
					color: var(--primary-color);
				}
				@media (max-width: 768px) {
				.slide-product{
					flex-wrap: wrap;
				}
				.allsmallimages{
					width: fit-content;
					height: fit-content;
				}
				.swiper-free-mode>.swiper-wrapper{
					height: auto;
					justify-content: space-between;
					flex-direction: row;
				}
			.slide-product .mySwiper2{
				height: 80%;
			}
			.slide-product .mySwiper{
				width: 100%;
			}
     
			}
				 #product-view-add-to-cart {
					height: 50px;
					gap: 10px;
				 }

				 @media (max-width: 768px) {
					.slide-product .mySwiper {
						height: fit-content;
					}
				 }
			</style>

			<div class="product_payments">
				{{ template_for_product_payments_widget }}
			</div>
			<div>
			<div>
				<ul id="abas" class="teste ">
				{% if product.description and product.description| striptags | trim | length > 0 %}
					<li class="selecionada ">
						<a id="aba_1" class="rounded-lg">{{locals.product_details}} </a>
					</li>
				{% endif %}
				{% if product.has_variants %}
					<li>
						<a id="aba_2" class="rounded-lg">{{locals.product_features}} </a>
					</li>
				{% endif %}
				{% if store.is_product_reviews_enabled %}
					<li>
						<a id="aba_3" class="rounded-lg">{{locals.product_reviews}} </a>
					</li>
				{% endif %}
				{% if store.is_product_question_and_answer_enabled %}
					<li>
						<a id="aba_4" class="rounded-lg">{{locals.questions_and_answers}}  </a>
					</li>
				{% endif %}
			</ul>
			</div>
			</div>
			<div id="conteudos" class="cont-table">
				<div id="conteudo_1" class="conteudo visivel">
					{% if product.description and product.description| striptags | trim | length > 0 %}
						<section id="product-description" class="mt-5">
							<div class="text-justify description-text-clear">
								{{ product.description | raw }}
							</div>
						</section>
					{% endif %}
				</div>
				<div id="conteudo_2" class="conteudo pt-0">
					{% if product.has_variants %}
						<section class=" product-selection mt-0">
							<div class=" p-0">
								<div class="card-table d-none d-lg-block my-0">
									<div class="card border-0">
										<div class="card-body card-table-header">
											<div class="row">
												{% for option in product.options %}
													<div class="col">{{option.name}}</div>
												{% endfor %}
												<div class="col col-price">{{ locals.product_images }}</div>
												<div class="col col-price">{{ locals.product_price }}</div>
												<div class="col col-price">{{ locals.product_sku }}</div>

											</div>
										</div>
									</div>
								</div>
								<div class="table-row-background">
								{% for variant in product.variants %}
									{% if not variant.unavailable %}
										<div class=" card-table options-table my-0">
											<div class="card border-0">
												<div class="card-body">
													<div class="row flex-column flex-lg-row align-items-start align-items-lg-center">


														{% for key, attribute in variant.attributes %}
															<div class="col m-col">
																<span class="variant-name-sm d-inline-block d-lg-none">{{ product.options[key].name }}</span>
																<span>{{ attribute.value }}</span>
															</div>
														{% endfor %}

														<div class="col">
															{% if variant.images | length > 0 %}
																<div class="d-flex m-col">
																	{% for key, image in variant.images %}
																		<div class="variant-image-wrapper" data-var-id="{{ variant.id }}">
																			<div class="box-1-1">
																				<div class="content">
																					<a data-index="{{ key }}" data-link-var-id="{{ variant.id }}" class="d-flex align-items-center justify-content-center" style="width: 100%; height: 100%;">
																						<img src="{{ image.image.medium }}" data-image-url="{{ image.image.full_size }}" loading="lazy">
																					</a>
																				</div>
																			</div>

																		</div>
																	{% endfor %}
																</div>
															{% else %}
																<span class="d-none d-lg-inline">{{ locals.variants_no_image }}</span>
															{% endif %}
														</div>

														<div class="col m-col">
															<span class="variant-name-sm d-inline-block d-lg-none">{{ locals.product_price }}</span>
															{% if variant.formatted_sale_price %}
																<h4 style="font-size: 1.2rem" class="price-detail d-inline-block">{{ variant.formatted_sale_price }}
																	<del>{{ variant.formatted_price }}</del>
																</h4>
																
															{% else %}
																<h4 class="d-inline-block" style="font-size: 1.2rem">{{ variant.formatted_price }}</h4>
																
															
															{% endif %}
															
														</div>
																<div class="col">
																{{ product.selected_product.sku }}
															</div>


													</div>
												</div>
											</div>
										</div>
									{% endif %}
								{% endfor %}

							</div>
							</div>
						</section>
					{% endif %}
				</div>
				<div id="conteudo_3" class="conteudo">
					{% if store.is_product_reviews_enabled %}
					<section class="mt-5 review-details" id="review-details" >
						<div>
							<div class="d-flex flex-wrap align-items-center mb-3 btn-star">
								{# <div class="description-icon">
									<span class="icon-reviews_black"></span>
								</div> #}
								<div class="description-title">
									{{ locals.product_reviews }}
								</div>
								{% if product.rating %}
								<div class="rating-section">
										<div>
											{% include 'rating-stars.twig' with {'rating' : product.rating.average } %}
											<span class="product-card-rating-count">({{ product.rating.total_count }})</span>
										</div>
								</div>
								{% endif %}
	
								&nbsp;
								<!-- Button trigger modal -->
							</div>
							<div class="reviews-commints">
								<div class="reviews-break-down-div description-paragrah">
									{% if product.rating %}
										<div class="rating-average_head mt-2">
											<h4 class="rating-average mb-3">{{ product.rating.average }}</h4>
											<div class="rating_average_stars">
												<i class="fa fa-star" style="color: #edb900;"></i> 
												<i class="fa fa-star" style="color: #edb900;"></i> 
												<i class="fa fa-star" style="color: #edb900;"></i> 
												<i class="fa fa-star" style="color: #edb900;"></i> 
												<i class="fa fa-star" style="color: #edb900;"></i> 
											</div>                
										</div>                                                      
									{% endif %}
								<div class="align-items-center mt-3 mb-4 d-none">
									{% if product.rating %}                              
									<div class="d-flex flex-column">
										<div class="row card-rate">
											<span class="rating_count_5">{{ product.rating['5_ratings'].count }}</span>
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star deactive" style="color: #edb900;"></i> 
											<i class="fa fa-star deactive" style="color: #edb900;"></i> &nbsp;  &nbsp;
											<span>{{ locals.reviews_rating_5 }}</span>
										</div>
										<div class="row card-rate">
											<span class="rating_count_4">{{ product.rating['4_ratings'].count }}</span>
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star deactive" style="color: #edb900;"></i>  &nbsp;  &nbsp;
											<span>{{ locals.reviews_rating_4 }}</span>
										</div>
										<div class="row card-rate">
											<span class="rating_count_3">{{ product.rating['3_ratings'].count }}</span>
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star deactive" style="color: #edb900;"></i>  &nbsp;  &nbsp;
											<span>{{ locals.reviews_rating_3 }}</span>
										</div>
										<div class="row card-rate">
											<span class="rating_count_2">{{ product.rating['2_ratings'].count }}</span>
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star deactive" style="color: #edb900;"></i>  &nbsp;  &nbsp;
											<i class="fa fa-star deactive" style="color: #edb900;"></i>  &nbsp;  &nbsp;
											<i class="fa fa-star deactive" style="color: #edb900;"></i>  &nbsp;  &nbsp;
											<span>{{ locals.reviews_rating_2 }}</span>
										</div>
										<div class="row card-rate">
											<span class="rating_count_1">{{ product.rating['1_ratings'].count }}</span>
											<i class="fa fa-star" style="color: #edb900;"></i> 
											<i class="fa fa-star deactive" style="color: #edb900;"></i>  &nbsp;  &nbsp;
											<i class="fa fa-star deactive" style="color: #edb900;"></i>  &nbsp;  &nbsp;
											<i class="fa fa-star deactive" style="color: #edb900;"></i>  &nbsp;  &nbsp;
											<i class="fa fa-star deactive" style="color: #edb900;"></i>  &nbsp;  &nbsp;
											<span>{{ locals.reviews_rating_1 }}</span>
										</div>
									</div>
									{% endif %}
								  </div>
								  <a href="/products/{{ product.slug}}/reviews/add" class="btn btn-primary add-review-btn mr-0 mt-3" id="add-review-btn"><span class="icon-add_circle"></span>{{ locals.add_product_review}} </a>
								</div>
								<div class="reviews-break-down-empty description-paragrah d-none">
									<div style="border: 1px solid #ccc; margin: 10px 0px; padding: 10px; border-radius: 3px">
										<span>{{ locals.product_no_reviews }}</span>
									</div>
								</div>
	
									   
								<div class="comment-section description-paragrah bg-transparent" style="width:100%">
									{% include 'customer-reviews.twig' with {'reviews' : product.reviews.data } %}
	
									{% if product.reviews.next_page > 1 %}
									<div class="text-right">
										<a href="/products/{{ product.id }}/reviews" type="button" class="btn all-reviews-btn">
											{{ locals.go_all_reviews }}
										</a>
									</div>
								{% endif %}
								</div>
							</div>
	 
						</div>
					</section>

						<!-- Modal -->
						{% include 'customer-reviews-add.twig' with {'product' : product } %}

					{% endif %}
					
				</div>
				<div id="conteudo_4" class="conteudo">
				{% if store.is_product_question_and_answer_enabled %}
            <section class="questiion mt-5 review-details">
                <div>
                    <div style="width: fit-content">
                        <div class="description-icon">
                            <span class="icon-reviews_black"></span>
                        </div>
                        <div class="description-title">
                            {{ locals.product_questions }}
                        </div>
                          {% if product.questions is not empty %}
                          <button type="button" class="btn btn-primary add-review-btn" id="addQuestionButton"><span class="icon-add_circle"></span>{{ locals.add_product_question}} </button>
                          {% endif %}
                    </div>
                </div>
                {% include 'product-questions.twig' with {'questions' : product.questions} %}
                {% include 'product-question-add.twig' with {'product' : product} %}
            </section>
             {% endif %}
			</div>
			</div>

<style>
.review-details .btn-star{
	width: fit-content;
}
.teste {
max-width:fit-content;
}
.questiion{
	width:50% ;
	margin: 0 auto;
}
.options-table .m-col {
    margin: 10px 0px !important;
}

.product_payments{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 25px ;
}
@media (max-width: 768px) {
	.questiion{
		width:100% !important;
	}
	#abas li a {
		padding: 6px 10px !important;
		font-size: 10px !important;
	}

}
</style>
			<script>
				var abas = document.getElementById("abas");
				var conteudos = document.getElementById("conteudos");

				/* Essa função retira a classe "selecionada" e esconde a DIV com o conteúdo visível */
				function limparSelecao() {
				abas.getElementsByClassName("selecionada")[0].classList.remove("selecionada");
				conteudos.getElementsByClassName("visivel")[0].classList.remove("visivel");
				}

				/* Essa é executada quando alguma das abas é clicada */
				abas.addEventListener("click", function (event) {
				var abaClicada = event.target.id;
				var itemSelecionado = abaClicada.substring(abaClicada.lastIndexOf("_"));

				/* Chama função que tira a seleção do item atual */
				limparSelecao();

				/* Insere a classe "selecionada" na nova aba visível */
				event.target.parentElement.classList.add("selecionada");

				/* Insere a classe "visivel" para o conteúdo da aba selecionada */
				conteudos.querySelector("#conteudo" + itemSelecionado).classList.add("visivel");
				});
			</script>


			{% if (product.related_products | length) >  0 %}
				<section class="mt-5 mb-5" >
					<div class="justify-center d-flex align-items-center">
						{% include 'title.twig' with { 'component_title': locals.similar_products_title  } %}
					</div>
					<div class="slider-inspire container overflow-hidden description-paragrah">
						<swiper-container navigation="true"  class="slider_part_single" >
							{# <div class="con swiper-wrapper justify-center" > #}
								{% for key,rProduct in product.related_products %}
									<swiper-slide class="swiper-slidexx prod-col slide-p">
										{% include 'product-card.twig' with {'product' : rProduct, 'index': key, 'pr_settings':settings} %}
									</swiper-slide>
								{% endfor %}
							{# </div> #}

							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
						</div>
					</div>
				</section>
				<style>

                        
						.slider_part_single swiper-slide{
							min-width: 180px;
							max-width: 240px;
							width: 100% !important;
						}

						.slider_part_single::part(container){
							padding-top: 100px;
						}
						.slider_part_single::part(button-prev){
						top: 25px;
							left: 50px;
							right: unset;
						}
						.slider_part_single::part(button-next){
						top: 25px;
						left: 0;

						}

							.slider_part_single swiper-slide .product-item .product-price{
								margin-bottom: 10px;
								width:fit-content;
							}
							.slider_part_single swiper-slide .product-item .dis-offer{
							display: flex !important; 
							align-items: center;

						}
							.slider_part_single swiper-slide .product-item .dis-offer span{
							font-size: 11px;
						}

						.slider_part_single::part(button-prev),
						.slider_part_single::part(button-next){
						color: var(--primary-color) !important;
							background-color: white  !important;
							padding: 10px !important;
							width: 25px !important;
							height: 25px !important;
							border: 1px solid gainsboro !important;
							border-radius: 8px !important;
						}

						@media (max-width: 768px) {
						.slider_part_single::part(button-prev),
						.slider_part_single::part(button-next){
							padding: 8px !important;
							width: 20px !important;
							height: 20px !important;
						}
						.slider_part_single swiper-slide{
							min-width: 150px;
							max-width: 180px;
							width: 100% !important;
						}
						}


					.slide-p{
						max-width: 30%;
						margin-left: 15px;
 					}
					.description-title{
						color: var(--primary-color)!important;
					}
					.review-btn{
						width: 20%;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
					}
					.review-details.reviews-commints{
						display: flex !important;
						gap: 90px !important;
					}
					.reviews-break-down-div {
						text-align: center;
						box-shadow: 0px 1px 3px 1px #3333331f;
						width: 300px;
						padding: 30px 0;
					}
					.add-review-btn{
						margin-right: 0px;
						padding: 15px 30px;
						font-size: 15px;
					}
					@media(max-width:786px){
						.con{
							display: flex;
							flex-wrap: wrap;
						}
						.review-btn{
							width: fit-content;
						
						}
						.reviews-commints{
							width: 100%;
						}
						.review-container{
							flex-direction: column	;
							align-items: center;
						}
					
					}
					@media(max-width:425px){
						.slide-p{
							min-width: 100%;
						}
						.con{
							display: flex;
							flex-direction: column;
							align-items: center;
						}
					}
					
				</style>
				<script>
				    const swiperEl = document.querySelector('.slider_part_single');
					const prevButton = document.querySelector('#button-prev');
					const nextButton = document.querySelector('#button-next');

					// إعدادات Swiper
					const swiperParams = {
					slidesPerView: 5,
					spaceBetween: 40,
					speed: 300,
					loop: false,
					navigation: true,
					cssMode: true,
					watchOverflow: true,
						breakpoints: {
						320: {
						slidesPerView: 2,
						spaceBetween: 20,
						},
						768: {
						slidesPerView: 2,
						spaceBetween: 20,
						},
						992: {
						slidesPerView: 5,
						spaceBetween: 40,
						},
					},
					};

					// دمج الإعدادات مع swiper-container
					Object.assign(swiperEl, swiperParams);

					// تهيئة Swiper
					swiperEl.initialize();

					// تحقق عند التهيئة
					swiperEl.addEventListener('ready', () => {
					console.log('Swiper is ready!');
					});

					// أحداث إضافية للأزرار (اختياري)
					prevButton.addEventListener('click', () => {
					swiperEl.swiper.slidePrev();
					});

					nextButton.addEventListener('click', () => {
					swiperEl.swiper.slideNext();
					});
					document.addEventListener("DOMContentLoaded", function () {
					    showRelatedProducts();
					});
				</script>
			{% endif %}
			

		</div>

		
		{% if product.bundle_offer.products.results | length > 5 %}
			<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-scrollable bundle-offer-products-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<div class="bundle-offer-title"></div>
							<div class="bundle-offer-title-description"></div>
							<div class="bundle-offer-products">
								<div class="row bundle-offer-details-products-all">
									{% for key, product in product.bundle_offer.products.results %}
										<div class="prod-col prod-col-tb">
											{% include 'product-card.twig' with {'product' : product, 'index': key, 'pr_settings':settings} %}
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% if pop_single %}
			{% if (product.related_products | length) >  0 %}
				<style>
						#popup_container {
							width: 80%;
							max-width: 600px;
							border-radius: 10px;
							overflow-x: scroll;
							height: 80%;
						}
						#close_popup {
							margin-bottom: 10px;
							margin-bottom: 10px;
							position: absolute;
							background-color: #a91515;
							padding: 1px 9px;
							border-radius: 33px;
							color: #fff;
						}
						#popup_container #popup_content section#like-product {
						display: block; /* override the inline style:none on the original */
						}

						/* Responsive grid: 2 cols on ≥768px, 1 col on smaller */
						#popup_container #popup_content .grid {
							display: grid;
							gap: 1rem;
						}

						@media (max-width: 767px) {
							#popup_container #popup_content .grid {
								grid-template-columns: 1fr;
							}
						}
				</style>
				{% if product.related_products  %}
				<div id="popup_container" style="display: none; position: fixed; top: 10%; left: 50%; transform: translateX(-50%); background: white; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.5); z-index: 1000; scrollbar-width: none;">
					<button id="close_popup">X</button>
					<div id="popup_content">
						{% include 'pop_single.twig' with {'related_products' : product.related_products } %}
					</div>
				</div>
				{% endif %}
			{% endif %}
		{% endif %}
	</section>
{% endblock %}

{% block footer %}
	{{ include('footer.twig') }}
{% endblock %}


{% block footer_scripts %}

	<script type="text/javascript" src="{{ asset_url ~ 'ekko-lightbox.min.js' }}"></script>
	<script type="text/javascript" src="{{ asset_url ~ 'product-details.js' }}"></script>
	<script type="text/javascript" src="{{ asset_url ~ 'toastr.min.js' }}"></script>

	<script type="text/javascript" src="{{ asset_url ~ 'photoswipe.min.js' }}"></script>
	<script type="text/javascript" src="{{ asset_url ~ 'photoswipe-ui-default.min.js' }}"></script>

	{{ product_view_scripts|raw }}

	<script>

var productImages = {{ product.selected_product.images | json_encode() | raw }};

function productAddToCart() {
  if (!$('.add-to-cart-progress').hasClass('d-none')) return;

  $('.add-to-cart-progress').removeClass('d-none');

  const isRTL = document.dir === 'rtl';
  const successMessage = isRTL ? 'تمت إضافة المنتج إلى السلة بنجاح' : 'Product added to cart successfully';
  const errorMessage = isRTL ? 'حدث خطأ أثناء الإضافة' : 'An error occurred while adding the product';

  zid.store.cart.addProduct({ formId: 'product-form' }).then(function (response) {
    if (response.status === 'success') {
      if (response.data) setCartTotalAndBadge(response.data.cart);

      Swal.fire({
        toast: true,
        position: isRTL ? 'top-start' : 'top-end',
        icon: 'success',
        title: successMessage,
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        customClass: {
          popup: 'swal2-toast'
        }
      });

      $('.added-notification').addClass("show");
      setTimeout(function () {
        $('.added-notification').removeClass("show");
      }, 5000);

      var image = $('#product-images-slick .slick-slide.slick-active img');
      var cart = $('.a-shopping-cart');
      if (image.length && cart.length) {
        addToCartAnimation(cart, image);
      }

    } else {
      Swal.fire({
        toast: true,
        position: isRTL ? 'top-start' : 'top-end',
        icon: 'error',
        title: response.data.message || errorMessage,
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        customClass: {
          popup: 'swal2-toast'
        }
      });
    }

    $('.add-to-cart-progress').addClass('d-none');
  });
}



function productOptionsChanged(selected_product) {
if (selected_product) {
$('#product-id').val(selected_product.id)
$('.send-notify-product-id').val(selected_product.id)

if (! selected_product.unavailable) { // Selected a valid variant that is available.
if (selected_product.formatted_sale_price) {
$('.product-formatted-price').html(selected_product.formatted_sale_price)
$('.product-formatted-price-old').html(selected_product.formatted_price)
$('.product-formatted-price-discount').html('{{ locals.product_discount }}' + ' ' + selected_product.discount_percentage + '%')

} else {
$('.product-formatted-price').html(selected_product.formatted_price)
$('.product-formatted-price-old').html('')
$('.product-formatted-price-discount').html('')
}

if (selected_product.weight.value) {
$('.div-product-weight').removeClass('d-none');
$('.div-product-weight .product-weight').html(selected_product.weight.value + ' ' + selected_product.weight.unit)
} else {
$('.div-product-weight').addClass('d-none')
}

if (selected_product.sku) {
$('.div-product-sku').removeClass('d-none');
$('.div-product-sku .product-sku').html(selected_product.sku)
} else {
$('.div-product-sku').addClass('d-none');
}

{% if store.is_low_stock_label_enabled %}
var store_low_stock_limit = {{ store.low_stock_quantity_limit }};
var low_stock_message = '{{ locals.product_cart_quantity_low_stock }}';

if (! selected_product.is_infinite && selected_product.quantity<store_low_stock_limit){
                        $('.low-quantity-section').addClass('d-inline-block');
                        $('.low-quantity-section .low-quantity').html(low_stock_message.replace('%s', selected_product.quantity))
                    }else{
                        $('.low-quantity-section').addClass('none');
                    }
                    {% endif %}

                    var selectQuantity = ''

                    if(selected_product.is_infinite)
                        selected_product.quantity = 100;

                    if(selected_product.quantity> 0) {
$('.select-quantity-div').removeClass('d-none')
var quantityMax = (selected_product.quantity > 100) ? 100 : selected_product.quantity;
selectQuantity = '<option value="1"selected>1</option>'
for (var i = 2; i <= quantityMax; i++) {
selectQuantity += '<option value="' + i + '">' + i + '</option>';
}
} else {
$('.select-quantity-div').addClass('d-none')
}

$('.select-quantity').html(selectQuantity);

$('.product-buttons').removeClass('d-none');
$('.section-out-of-stock-notify-me').addClass('d-none');

$('.btn-add-to-cart span').html('{{ locals.add_to_cart }}');

updateProductImages(selected_product);
} else { // Variant is sold out.
$('.select-quantity-div').addClass('d-none')
$('.product-buttons').addClass('d-none');
$('.section-out-of-stock-notify-me').removeClass('d-none');

$('.btn-add-to-cart span').html('{{ locals.error_item_unavailable }}');

updateProductImages(selected_product);
}

} else { // variant doesn't exist.
$('.select-quantity-div').addClass('d-none')
$('.product-buttons').addClass('d-none');
$('.section-out-of-stock-notify-me').removeClass('d-none');

$('.btn-add-to-cart span').html('{{ locals.error_item_unavailable }}');

updateProductImages(selected_product);
}
}

function updateProductImages(selected_product) {
if (selected_product.images && selected_product.images.length > 0) {
$('.product-images-carousel').removeClass('d-none');
$('.product-images-carousel-thumbs').removeClass('d-none-important');
$('.product-images-empty').addClass('d-none');
$('#product-images-slick').slick('unslick');
$('.product-images-carousel').addClass('product-images-carousel-init');

productImages = selected_product.images;

$('#product-images-slick').html('');
$('.product-images-carousel-thumbs').html('');

for (var z = 0; z < productImages.length; z++) {
var prImage = productImages[z];
$('#product-images-slick').append('' + '<div>\n' + '                                                                    <div class="box-1-1">\n' + '                                                                        <div class="content">\n' + '                                                                            <a class="image-link"\n' + '                                                                               style="display:block; width: 100%; height: 100%;">\n' + '                                                                                <img src="' + prImage.image.full_size + '" class="carousel-img" loading="lazy" alt="' + selected_product.name + '">\n' + '                                                                            </a>\n' + '                                                                        </div>\n' + '                                                                    </div>\n' + '                                                                </div>');


$('.product-images-carousel-thumbs').append('<div class="col-3">\n' + '                                                         <div class="box-1-1">\n' + '                                                                <div class="content">\n' + '                                                                    <a class="d-flex align-items-center justify-content-center thumb-image-a" data-index="                {{ key }}"\n' + '                                                                       style="width: 100%; height: 100%;" >\n' + '                                                                        <img src="' + prImage.image.medium + '" loading="lazy" data-index="' + z + '">\n' + '                                                                    </a>\n' + '                                                                </div>\n' + '                                                            </div>\n' + '                                                        </div>');

}

} else {
$('.product-images-carousel').addClass('d-none');
$('.product-images-carousel-thumbs').addClass('d-none-important');
$('.product-images-empty').removeClass('d-none');
}
}

function sendProductNotifyMe() {
if (!$('.send-notify-progress').hasClass('d-none')) 
return;



$('.send-notify-progress').removeClass('d-none');
zid.store.product.setAvailabilityNotificationEmail($('.send-notify-product-id').val(), $('.send-notify-email').val()).then(function (response) {
if (response.status === 'success') {
toastr.success('{{ locals.sent_successfully }}', null)
} else {
toastr.error('{{ locals.notify_me_failed }}', '{{ locals.sorry }}')
}
$('.send-notify-progress').addClass('d-none');
})
}


$('#product-description-a ').click(function () {
event.preventDefault();

$('html, body').animate({
scrollTop: $($.attr(this, 'href')).offset().top -(
(window.matchMedia('(max-width: 768px)').matches) ? 15 : 150
)
}, 500);

});


$(document).on('click', '.variant-image-wrapper a', function (event) {
$('.pswp').removeClass('d-hide');
$('.app').addClass('d-hide');
var elm = event.currentTarget;
var varId = $(elm).attr('data-link-var-id');

var images = [];

$("div[data-var-id='" + varId + "']  img").each(function (iElm) {
images.push($(this).attr('data-image-url'))
});

openPhotoSwipe(images, $(elm).attr('data-index'));

});



var openPhotoSwipe = function (productImages, index) {
var pswpElement = document.querySelectorAll('.pswp')[0];

// build items array
var items = productImages.map(function (image) {
return {src: image, w: 1200, h: 900}
})

var options = {
history: false,
focus: false,

showAnimationDuration: 0,
hideAnimationDuration: 0,
index: parseInt('' + index)

};

var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);

gallery.listen('close', function () {
$('.pswp').addClass('d-hide');
$('.app').removeClass('d-hide');
});

gallery.init();
};


const row = document.querySelectorAll('.table-row-background');	
if (row % 2 === 0) { // الصفوف الفردية (بما أن الفهرس يبدأ من 0، فإن 0 يعني العنصر الأول، 2 يعني الثالث، وهكذا)
        row.style.backgroundColor = 'red'; // اللون الذي تريده للصفوف الفردية
      }

document.addEventListener('DOMContentLoaded', function () {
  let thumbSwiper, mainSwiper;

  function initializeThumbSwiper(direction) {
    return new Swiper(".slide-product .mySwiper", {
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
      direction: direction,
      slideToClickedSlide: true, 
    });
  }

  function initializeMainSwiper() {
    return new Swiper(".slide-product .mySwiper2", {
      spaceBetween: 4,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: thumbSwiper,
      },
    });
  }

  function adjustSwiperLayout() {
    const screenWidth = window.innerWidth;
    let newDirection = screenWidth < 768 ? 'horizontal' : 'vertical';

  
    if (thumbSwiper && thumbSwiper.params.direction !== newDirection) {
      thumbSwiper.destroy(true, true); 
      thumbSwiper = initializeThumbSwiper(newDirection); 

      
      const thumbContainer = document.querySelector(".slide-product .mySwiper");
      if (newDirection === 'horizontal') {
        thumbContainer.style.width = "100%";
        thumbContainer.style.height = "auto";
      } else {
        thumbContainer.style.width = "";
        thumbContainer.style.height = "";
      }

      
      mainSwiper.destroy(true, true); 
      mainSwiper = initializeMainSwiper();

      
      mainSwiper.thumbs.swiper = thumbSwiper;
      mainSwiper.update();
    }
  }


  thumbSwiper = initializeThumbSwiper(window.innerWidth < 768 ? 'horizontal' : 'vertical');
  mainSwiper = initializeMainSwiper();

  // **إعادة التهيئة عند تغيير حجم الشاشة**
  window.addEventListener('resize', function () {
    setTimeout(adjustSwiperLayout, 300);
  });
  setTimeout(adjustSwiperLayout, 100);
});

let btn_popup = document.getElementById('product-view-add-to-cart');
let popupContainer = document.getElementById('popup_container');
let popupContent = document.getElementById('popup_content');
let closePopup = document.getElementById('close_popup');

if(btn_popup) {
	btn_popup.addEventListener('click', function () {
		popupContainer.style.display = 'block';
	});

	closePopup.addEventListener('click', function () {
		popupContainer.style.display = 'none';
	});
}
</script>


	


{% endblock %} 
